.job__application__container{
    padding: 5rem 0;
    max-width: 60%;
  
}

.position{

}

.job__form__container{
    margin: 3rem 0;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.steps{
    color: #3F525A;
    font-size: 18px;
   
}
.job__title{
    font-size: 20px;
    margin: 0.4rem 0;
}
.margin{
    margin-bottom: 1.8rem !important;
}
.user__information__grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.4rem;
}
.title__form{
    margin-bottom: 1.4rem;
}
.uploader__image{
    max-width: 100%;
    border: 1px dashed #A6A6A6;
    min-height: 120px;
    border-radius: 10px;
    background-color: #F7FAFF;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;

}
.uploader__center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.next__btn{
    min-width: 250px;
    width: 100%;
    font-weight: 500;
}
.brows__btn{
    background-color: #E9A1A3;
    padding: 6px 26px  ; 
    border-radius: 16px;
    outline: none;
    border: none;
    color: white;
}
.direction-column{
    grid-template-columns: 1fr;
   }

   .radio-group {
    margin-bottom: 20px;
  }
  
  .radio-group p {
    margin-bottom: 10px;
    color: #808080;
  }
  
  .radio-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.4rem;
  }
  
  .radio-option {
    margin-right: 20px;
    display: flex;

    align-items: center;
  }
  
  .input__form[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #F7FAFF;
    border: 1px solid #E5EFFF;
    border-radius: 12px;
    outline: none;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    padding: 0 !important;
  }
  .policy__list{
    color: #808080;

  }
  .policy__list li{
    margin: 0.4rem 0;
    
  }
  .check__box__for__policy{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: #808080;
 
    
  }
  
  .input__form[type="radio"]:checked {
    border-color: #808080;
  }
  
  .input__form[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #808080;
    border-radius: 50%;
  }

  .policy-checkbox[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px !important;
    height: 24px !important;
    background-color: #F7FAFF;
    border: 1px solid #E5EFFF;
    border-radius: 12px;
    outline: none;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
   
    padding: 0 !important;
  }

  .next__prev__btn__container{
    display: flex;
    gap: 2rem;
  }
  .previousbtn{
   background-color: white;
   color: #D24347;
   border: 1px solid #D24347;
  }

  .form__description{
    color: #808080;
    font-size: 14px;
    line-height: 24px;
  }
  

@media (max-width:1024px) {
    .job__application__container{
        max-width: 100%;
    }
    .next__prev__btn__container{
      flex-direction: column;
    }
}

@media (max-width:768px){
    .user__information__grid{
        grid-template-columns: repeat(1,1fr);
    }
    .next__btn{
        min-width: 100% !important;
    }
    
}