.open__job__landingpage{
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}
.open__job__image{
  
        max-height:400px  !important;
        height: 100%;
        max-width: 100%;
      
      
}
.openjob__title,.openjob__title__secondary{
    text-align: center;
    max-width: 50%;
    margin: 0.8rem auto;
    

}
.mbl__for__container{
    background-color: red;
    
}

.openjob__title__secondary{
    font-weight: 400;
}
 .openjob__title__mbl{
 text-align: left;
 
}
.openjob__title__mbl{
    font-size: 36px;
    line-height: 40px !important;
    margin-bottom: 16px;
}

.openjob__title__secondary__mbl{
    color: white;
}

.container__for__mobile{
    background-color: var(--primary-color-red);
    text-align: left;
    padding: 2rem;
    max-width: 100%;
}

.nav__tab{
    display: flex;
    gap:16px;
   align-items: center;
   margin-top: 3rem;
   overflow-x: scroll;
   scrollbar-width: none;
   background: linear-gradient(270deg, #D24347 62.67%, rgba(210, 67, 71, 0) 122.5%);


}
.nav__tab li {
    list-style: none;
}
.nav__tab li a {
    text-decoration: none;
    flex-shrink: 0;
    overflow-x: scroll;
    color: white;
}

/* opportunities list */

.opportunities__list__container{
    display: flex;
    margin: 4rem 0;
    gap:4rem;
    padding: 2rem ;

}
.opportunities__left{
    max-width: 300px;
   
    flex-shrink: 0;
    /* width: 100%; */
    
}
#opportunities__right{
    flex-grow: 1;
    

}
.positions__options{
    list-style: none;

}
.title__container{
    display: flex;
    gap: 1.4rem;
    align-items: center;
    position: relative;
    /* background-color: red;    */
   
    
}
.horizontal__line__left{
    min-height: 60px;
    background-color: #0040D8;
    width: 6px;
    
    position: absolute;
    left: -1.2rem;
   

}
.title__positions{
    font-size: 20px;
    font-weight: 500;
   
    line-height: 32px;
}
.positions__options {
    padding: 2rem 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.positions__options li a{
    color: black;
    text-decoration: none;
    
}

.share__linkedn__btn{
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;  
    background-color: transparent;
    border-radius: 40px;
    max-width:100%;
    border: 1px solid black;
}
.opportunities__card{
    display: flex;
    gap: 1.4rem;
    /* background-color: red; */
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 850px;
    
    
}
.type__opportunities__container{
    display: flex;
    gap:1rem;
    align-items: center;
}
.type__opportunities{
    border: 1px solid #090808;
    padding:8px 16px;
    border-radius: 29px;
    font-size: 14px;
}
.opportunities__card h4{
    font-size: 28px;
    line-height: 44px;
    font-weight: 600;
}
.img__container__opp{
   
    position: relative;
    width: 100%;
    
}

.img__container__opp span{
    position: absolute;
    bottom: 4rem;
    right: -6rem;
    max-width: 240px;
}

.see__positions__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one{
    top: 0;
    position: absolute;
}
.left{
    display: flex;
    flex-direction: column;
    gap:0.8rem
}
.left img{
   width: 300px;
    /* width:100%; */
    

}
.img__container__opp__one {
  
   
    position: relative;
}
.join__us__container{
    display: grid;
    gap: 1rem;
    max-width: 800px;
    margin-top: 2rem;
    grid-template-columns: repeat(2,1fr);
    
}
.see__position__btn{
    padding: 12px 16px;
    background-color: var(--primary-color-red);
    border-radius: 29px;
    outline: none;
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    color: white;
    gap:0.2rem
}
.img__container__mbl{
    display: none;

}
.img__container__mbl img{
    max-width: 100%;

}
.wrapper{
   display: flex;
   height: 40px;
   width: 40px;
   display: flex;
   background: var(--primary-color-red);
   align-items: center;
   border-radius: 20px;
   justify-content: center;
}
.follow-font{
    font-size: 2rem;
}
.social__media__list{
    display: grid;
    margin-top: 2rem;
    /* background-color: red; */
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
    list-style: none;
    
    
}

.social__media__list li{
    display: flex;
    align-items: center;
    gap:0.8rem;

}
.see__more__for__mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    display: none;
}
.see__more__btn{
    border: 1px solid #090808;
    padding: 12px 24px;
    border-radius: 29px;


}

.share__linkedn__btn__container__for__sm{
    background-color: var(--primary-color-red);
    display: none;
}
.seeking__title{
    font-size: 20px;
    color: white;
    line-height: 32px;
}
.share__linkedn__btn__mbl{
    margin-top: 2rem;
}
.section__added__padding{
    padding-top: 2rem ;
    padding-bottom: 2rem;
}
.share__linkedn__btn__mbl{
    border: 1px solid #FFFFFF !important;
    color: white;
}


@media (min-width:1024px) {
    .img__container__mbl{
        display: none;
    }
    .container__for__mobile{
        display: none;
    }
    
    
}
@media (max-width:1024px) {
    .openjob__title{
        max-width: 100%;
    }
    .share__linkedn__btn__container__for__sm{
        display: flex;
    }
    .opportunities__left{
        display: none;
    }
    .opportunities__card{
        box-shadow: 0px 8px 16px 0px #53648B1A;
        padding: 1rem;
       text-overflow: ellipsis;

    }
    .opportunities__list__container{
        padding: 0;
    }
    .join__us__container{
        grid-template-columns: 1fr;
    }
    .left img{
        width: 100%;
      
    }
    .img__container__opp{
        display: none;
    }
    .img__container__mbl{
        display: grid;
       
        flex-direction: column;
    }
    .see__more__for__mobile{
        display: flex;
    }
  
   
    
}

@media (max-width:768px) {
    .see__position__btn{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .container__for__mobile{
        display: block;
    }
    .join__isn__description{
        display: none;
    }
    .open__job__container{
        display: none;
    }
}


