.grid-flex {
  gap: 1rem
}
.text-area {
  min-height: 158px;
}
.partnership__title {
  margin-top: 10px;

  margin-bottom: 2rem;
}
.services-container {
  width: 100%;
  gap: 0.4rem;
  align-items: start;
  flex-direction: column;
  color: #808080;

}
.btn-submit {
  width: 100% !important;
}

.partnership__right {
  flex: 1;
  display: flex;
}
.text-area {
  min-height: 158px;
}




.partnership__right {
  padding: 5rem 0 ;
}

@media(max-width:1200px){
  .partnership__right{
    max-height:1060px;
  }
}
@media (max-width:1024px) {
  .grid-flex {
    flex-direction: column-reverse;
  }
  .partnership__right img {
   width: 100% !important;
    border-top-left-radius: 185px;
  }
  .grid-flex {
    grid-template-columns: 1fr !important;
    gap: 1.4rem !important;
  }
  .partnership__right {
    padding: 0 !important;
  }
  .partnership__left {
    margin-top: 30px;
    padding: 0 !important;
  }
}