<select id="availability_or_notice_period" name="availability_or_notice_period" class="input__form selectinputappearance">
    <option value="" disabled selected>What is your availability or notice period?</option>
    {% for n,np in notice_period %}
        <option value="{{ n }}">{{ np }}</option>
    {% endfor %}
</select>
<div class="radio-group">
    <p>Will you now or in the future require immigration sponsorship for employment with ISN?
    </p>
    <div class="radio-options">
        <div class="radio-option">
            <input type="radio" id="required_immigration_sponsorship1" name="required_immigration_sponsorship" value="yes" class="input__form" checked>
            <label for="required_immigration_sponsorship1">Yes</label>
        </div>
        <div class="radio-option">
            <input type="radio" name="required_immigration_sponsorship" value="no" class="input__form">
            <label for="sponsorship-no">No</label>
        </div>
    </div>
</div>
<div class="radio-group">
    <p>I authorize ISN to consider me for other job opportunities for the next 36 months within ISN in addition to the specific job I am applying for.
    </p>
    <div class="radio-options">
        <div class="radio-option">
            <input type="radio" id="other_job_consider" name="other_job_consider" value="true" class="input__form" checked>
            <label for="sponsorship-yes">Yes</label>
        </div>
        <div class="radio-option">
            <input type="radio" id="other_job_consider" name="other_job_consider" value="false"
                   class="input__form">
            <label for="sponsorship-no">No</label>
        </div>
    </div>
</div>
<div class="radio-group">
    <p>Have you previously been employed by ISN?</p>
    <div class="radio-options">
        <div class="radio-option">
            <input type="radio" name='is_previously_employed'  id="prev-emp"  value="true" class="input__form" checked>
            <label for="sponsorship-yes">Yes</label>
        </div>
        <div class="radio-option">
            <input type="radio" name='is_previously_employed'  id="prev-emp" value="false" class="input__form">
            <label for="sponsorship-no">No</label>
        </div>
    </div>
</div>
<div class="radio-group">
    <p>Are you a former/current intern or contractor?</p>
    <div class="radio-options">
        <div class="radio-option">
            <input type="radio" id="intern" name="is_former_current_intern_or_contractor" value="true" class="input__form" checked>
            <label for="sponsorship-yes">Yes</label>
        </div>

        <div class="radio-option">
            <input type="radio" id="intern" name="is_former_current_intern_or_contractor" value="false" class="input__form">
            <label for="sponsorship-no">No</label>
        </div>
    </div>
</div>
<div class="radio-group">
    <p>Do you consent to receiving text messages throughout your application process
        including but not limited to interview details, pre-employment screening notifications
        and reminders?
    </p>
    <div class="radio-options">
        <div class="radio-option">
            <input name="receive_text_message" type="radio" id="sponsorship-yes"  value="true"
                   class="input__form" checked>
            <label for="sponsorship-yes">Yes</label>
        </div>
        <div class="radio-option">
            <input type="radio" id="sponsorship-no" name="receive_text_message" value="false" class="input__form">
            <label for="sponsorship-no">No</label>
        </div>
    </div>
</div>
<div>
    <ol class="policy__list">
        <li>I certify that all statements I have made on this application and on my resume or
            any other supplementary materials are true and correct. I acknowledge that any false
            statement or misrepresentation on this application, my resume, or supplementary
            materials will be cause for refusal to hire, or for immediate termination of
            employment at any time during the period of my employment.</li>
        <li>I understand and agree that, if I am offered a position, it will be offered on
            condition that my employment will be at will and for no definite period, and that my
            employment may be terminated, at any time, with or without cause and with or without
            prior notice</li>
        <li>
            I understand that no supervisor or manager may alter or amend the above conditions
            except in writing, signed by a company officer.</li>
        <li>Tesla Talent Privacy Notice</li>
        <li>Tesla’s Arbitration Agreement</li>
    </ol>
    <div class="check__box__for__policy">
        <input type="radio" id="policy-checkbox" class="input__form" name="policy">
        <span>I have read and understand the statements above and accept them as conditions of
            employment.
        </span>
    </div>
</div>
<div>
    <input placeholder="Legal First Name" class="input__form" />
</div>