<div style="margin-bottom: 20px">
    <div class="user__information__grid" id="step_1_form">
    <div class="input-field">
        <input placeholder="Legal first name *" id="first_name" name="first_name" class="input__form" required/>
        <span id="firstNameError" class="error">Enter valid first name</span>
    </div>
    <div class="input-field">
        <input placeholder="Legal last name *" id="last_name" name="last_name" class="input__form" required/>
        <span id="lastNameError" class="error">Enter valid last name</span>
    </div>
    <div class="input-field">
        <input placeholder="Phone number *" id="phone_number" name="phone_number" class="input__form" required/>
        <span id="contactError" class="error">Enter valid contact number</span>
    </div>
    <div class="input-field">
        <select name="contact_phone_type *" id="contact_phone_type" class="input__form selectinputappearance" required>
            <option value="" disabled selected>Contact phone type</option>
            {% for p,pt in phone_type %}
            <option value="{{ p }}">{{ pt }}</option>
            {% endfor %}
        </select>
        <span id="contactTypeError" class="error">Select contact type</span>
    </div>
    <div class="input-field">
        <input  name="email" id="email_id" placeholder="Email address *" class="input__form " required/>
        <span id="emailError" class="error">Enter valid email</span>
    </div>
    <div class="input-field">
        <select name="country" id="country" class="input__form selectinputappearance" required>
        <option value="" disabled selected>Country *</option>
        {% for c, cou in country %}
        <option value={{ c }}>{{ cou }}</option>
        {% endfor %}

        </select>
        <span id="countryError" class="error">Country cannot be empty</span>
    </div>

</div>
<div>
    <h6 class="title__form" style="margin-top: 51px; font-size: 18px; font-weight: 400px">Please provide at least one item below to proceed.*</h6>
    <div class="user__information__grid">
        <div class="input-field">
            <input placeholder="Profile Link" id="profile_link" name="profile_link" class="input__form"/>
            <span id="urlError" class="error">Entered valid url</span>
        </div>
        <div class="input-field">
            <select  name="profile_link_type" id="profile_link_type" class="input__form selectinputappearance">
                <option value="" disabled selected>Profile link type </option>
                {% for p ,pl in profile_link %}
                <option value="{{ p }}">{{ pl }}</option>
                {% endfor %}
            </select>
            <span id="urlTypeError" class="error">Entered valid url Type</span>
        </div>
    </div>
    <div class="user__information__grid" style="margin-top: 2rem;"  >
        <div class="input-field">
            <input type="number" id="expected_salary" name="expected_salary" placeholder="Expected salary *" class="input__form" required/>
            <span id="salaryError" class="error">Expected salary cannot be empty</span>
        </div>
        <div class="input-field">
            <select  name="currency_type" id="currency_type" class="input__form selectinputappearance" required>
                <option value="" disabled selected>Currency type *</option>
                {% for curr in currencies %}
                <option value="{{ curr.currency_code }}">{{ curr.currency_code }}</option>
                {% endfor %}
            </select>
            <span id="currencyError" class="error">Currency type cannot be empty</span>
        </div>
        <div class="input-field">
            <select  name="pay_period" id="pay_period" class="input__form selectinputappearance" required>
                <option value="" disabled selected>Pay period *</option>
                {% for p,pay in pay_period %}
                <option value="{{ p }}">{{ pay }}</option>
                {% endfor %}
            </select>
            <span id="periodError" class="error">Pay period cannot be empty</span>
        </div>
    </div>

</div>
<div>
    <h6 style="margin: 0.4rem !important;" class="title__form ">Resume</h6>
    <p style="margin-left: 0.4rem;" class="secondary_title">One file max size 10 MB (PDF, Doc, TXT)</p>

    <div onclick="browseFile()" class="uploader__image" >
        <div  class="uploader__center">
            <p>Upload your resume *</p>
            <button  type="button" class="brows__btn">Browse</button>
            <input  name="resume" type="file" id="fileInput" style="display: none;"  onchange="handleFileSelect(event)" required>
        </div>
    </div>
    <span id="fileError" class="error">Upload your resume</span>
    <span id="file-name"></span>
</div>
</div>
