<div class="user__information__grid" id="step_1_form">
    <input placeholder="Legal First Name" name="first_name" class="input__form" />
    <input placeholder="Legal last name" class="input__form" />
    <input placeholder="Phone Number" class="input__form" />
    <select class="input__form selectinputappearance">
        <option value="" disabled selected>Country/Region of Residence</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
    </select>
    <input placeholder="Email address" class="input__form " />
    <select class="input__form selectinputappearance">
        <option value="" disabled selected>Country/Region of Residence</option>
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
    </select>
</div>
<div>
    <h6 class="title__form">Please provide at least one item below to proceed.</h6>
    <div class="user__information__grid">
        <input placeholder="Profile Link" class="input__form" />
        <select class="input__form selectinputappearance">
            <option value="" disabled selected>Profile Link Type</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
    </div>
    <input style="margin-top: 2rem;" placeholder="expected salary" class="input__form" />
</div>
<div>
    <h6 style="margin: 0.4rem !important;" class="title__form ">Resume</h6>
    <p style="margin-left: 0.4rem;" class="secondary_title">One file max size 10 MB (PDF, Doc, TXT)</p>

    <div class="uploader__image" >
        <div class="uploader__center">
            <p>Upload your resume</p>
            <button class="brows__btn">Brows</button>
        </div>
    </div>
</div>