<div style="margin-bottom: 20px">
    <div class="form__description">
    Pre-Offer Invitation to Self-Identify - Race/Ethnicity, Sex, and Veteran Status
    Tesla is a Government contractor or subcontractor subject to laws including Executive Order
    11246 (EO 11246) and the Vietnam Era Veterans' Readjustment Assistance Act of 1974 (VEVRAA).
    These laws require that covered Government contractors and subcontractors take affirmative
    action to employ and advance in employment applicants and employees without regard to their
    race, color, religion, sex, sexual orientation, gender identity, national origin or protected
    veteran status. Tesla is also subject to certain governmental recordkeeping and reporting
    requirements. In order to comply with these requirements, we invite you to check the appropriate
                        boxes below. Submission of this information is voluntary and refusal to provide it will not
                        subject you to any adverse treatment. The information you provide will be kept confidential and
                        will only be used in ways that are consistent with the law.
                        Race/Ethnicity Definitions
                        Hispanic or Latino: A person of Cuban, Mexican, Puerto Rican, South or Central American, or
                        other Spanish culture or origin regardless of race.
                        White (Not Hispanic or Latino): A person having origins in any of the original peoples of
                        Europe, the Middle East, or North Africa.
                        Black or African American (Not Hispanic or Latino): A person having origins in any of the black
                        racial groups of Africa
                    </div>


                    <div class="check__box__for__policy">
                        <input type="radio" id="policy-checkbox" class="input__form" name="policy">
                        <span>I have read and understand the statements above and accept them as conditions of employment
                        </span>


                    </div>
                    <div class="user__information__grid">

                        <select  class="input__form selectinputappearance">
                            <option value="" disabled selected>Gender</option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                          </select>

                        <select class="input__form selectinputappearance">
                            <option value="" disabled selected>Veteran Status</option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                          </select>
                          <select class="input__form selectinputappearance">
                            <option value="" disabled selected>Race/Ethnicity</option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                          </select>
                          <select class="input__form selectinputappearance">
                            <option value="" disabled selected>Disability</option>
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                          </select>

                    </div>
                    <div>
                        <input  placeholder="expected salary" class="input__form" style="margin-top: 20px" />
                    </div>
</div>