<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Calendly on Button Click</title>
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
</head>
<body>
    <h1>Book an Appointment</h1>
    <button id="openCalendly">Book Appointment</button>
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <script>
        document.getElementById('openCalendly').addEventListener('click', function() {
            Calendly.initPopupWidget({ url: 'https://calendly.com/karkipramish18/15min',
                text: 'Schedule time with ISN', color: '#ffffff', textColor: '#d24347', branding: undefined
            });
            return false;
        });
    </script>
</body>
</html>