{% extends 'base.html' %}
{% load static %}
{% block title %}ISN Study Contact{% endblock %}
{% block base %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/contact.css' %}" />
    <section class="contact__us__landingpage">
    <div class="get__in__touch" style="background-image: url('{% static 'assets/images/get-in-touch.svg' %}');">
    </div>
    <div class="lets__talk">
      <img  src="{% static 'assets/images/lets-talk.svg' %}"/>
    </div>
    <main class="section___contactus__left">
      <img class="linear__group__left" src="{% static 'assets/images/linear.svg' %}"/>
      <div class="liberty__container">
        <img class="liberty__statue" src="{% static 'assets/images/liberty.svg' %}" />
      </div>
      <div class="contact__info">
       <h6>VISIT US</h6>
        <span>International Study Network LLC 13101 Preston  Texas 75240</span>
        <span>Road Suite 110 #3536 Dallas,</span>
        <span>United States</span>
      </div>
      <div class="call__us__container">
        <div style="margin-top: 0 !important;" class="contact__info ">
          <h6>CALL US</h6>
           <span>+1 (903) 508-8863
          </span>
         </div>
         <div style="margin-top: 0 !important;" class="contact__info ">
          <h6>EMAIL US</h6>
           <span>univpartners@isnstudy.com</span>
         </div>
      </div>
    </main>
    <main class="section___contactus__right">
      <img class="linear__group" src="{% static 'assets/images/linear.svg' %}"/>
      <div class="you__can__find">
        <span><span style="color: #D24347;font-weight: 700;">You can find us</span> at our office if you want
          to</span><span> take a look at my sculptures, address is </span><span> via
          International Study Network LLC </span> <span>13101 Preston Road Suite 110 #3536 </span><span>Dallas, Texas
          75240 </span></span>United States.</span>
        <!-- <span>View on map</span> -->
      </div>
      <form class="form" method="POST" id="contact-form" action="/contact/us">
          {% csrf_token %}
        <div style="text-align: center;" class="content__title ">
          Start <span>Your Partnership <br /> With ISN</span>.
<!--          <p class="parntership__title"> Lorem ipsum dolor sit amet consectetur.</p>-->
        </div>
        <div style="width: 100%" class="input-field">
            <input
              class="partnership__input"
              placeholder="Name of institution"
              name="institute_name"
              id="institute_name_id"
              required
            />
              <span id="instituteNameError" class="error">Enter Valid Institute Name</span>
          </div>
        <div style="width: 100%" class="input-field">
            <input class="partnership__input" id="address" placeholder="Address" name="address" required/>
              <span id="addressError" class="error">Enter Valid Address</span>
          </div>
        <div style="width: 100%" class="flex-row-aligned grid-flex">
                <div style="width: 100% ; margin-right: 5px" class="input-field" >
                    <input class="partnership__input" name="contact_person" id="contact_person" placeholder="Contact person" required/>
                    <span id="contactPersonError" class="error">Enter Valid Firstname</span>
                </div>
                <div style="width: 100%" class="input-field">
                    <input class="partnership__input" placeholder="Title" id="title" name="title" required/>
                    <span id="titleError" class="error">Enter Valid Title</span>
                </div>
            </div>
        <div style="width: 100%" class="input-field">
              <input type="email" name="email" class="partnership__input" id="email" placeholder="Email address" required/>
              <span id="emailError" class="error">Enter Valid email</span>
          </div>
        <div style="width: 100%" class="input-field">
              <input
                class="partnership__input"
                placeholder="Phone number"
                name="phone_no"
                id="contact"
                required
              />
              <span id="contactError" class="error">Enter Valid Phone Number</span>
          </div>
        <div class="services-container flex-row-aligned">
          <p>Which services are you interested in?</p>
            <span id="serviceError" class="error">Check at least one</span>
          <div class="check-option">
            <input type="checkbox" id="service1" name="agent" class="checbox" value="Hiring as Agent" />
            <label for="service1">Hiring as Agent</label>
          </div>
          <div class="check-option">
            <input type="checkbox" id="service2" class="checbox" name="market_entry" value="Market Entry" />
            <label for="service2">Market Entry</label>
          </div>
          <div class="check-option" >
            <input type="checkbox" id="service3" name="others" class="checkbox" value="Other Specify" />
            <label for="service3">Other, Specify</label>
          </div>
        </div>
        <div style="width: 100%" class="input-field">
            <textarea  name="message" id="message" placeholder="Questions/Comments" class="partnership__input hide-scrollbar text-area" required></textarea>
            <span id="messageError" class="error">Message is required</span>
          </div>
        <div  style="flex-direction:row; align-items: center !important;" class="services-container flex-row-aligned">
              <input type="checkbox" class="checbox" id="privacy" name="is_accept_privacy_policy" required/>
              <span>I agree to the <a href="/privacy-policy">Terms and Privacy Policy</a>.</span>
                  <span id="termError" class="error">Check Terms and Privacy Policy</span>
            </div>
        <button type="button" class="btn__primary__home btn-submit__contactus" onclick="submit_contact_form()">Submit</button>
      </form>
      <div class="contact__info__mbl">
        <h6>Visit Us</h6>
         <span>International Study Network LLC 13101 Preston  Texas 75240</span>
         <span>Road Suite 110 #3536 Dallas,</span>
         <span>United States</span>
       </div>
    </main>
  </section>
  <section class="our__avalability__container">
    <main class="section__container">
      <div class="availability__content">
        <div style="text-align: center;">
          <h1 class="content__title">We Are <span>Located At </span></h1>
          <p class="secondary_title">We have our officers at following places</p>
        </div>
        <div class="availability__zone__map">
          {% include 'vector-map.html' with country=map_country_list color="#D24347" %}
        </div>
      </div>
    </main>
  </section>
  <section class="our__engagement__container">
    <main class="section__container">
      <div class="our__engagement__container">
        <div class="our__engagement__content">
          <div class="title__lg">
            Ready to Transform Your <br />
            <span>International Engagement? </span>
          </div>
          <p class="our__engagement__content__description">
            Join the growing network of educational institutions and recruiting
            partners benefiting from ISN’s comprehensive platform. Our tools and
            data insights are designed to simplify your international outreach,
            enhance your recruitment strategies, and foster global partnerships.
          </p>
          <div class="meetus__conatiner">
            <div class="meetus__btn__container">
              <button class="btn__primary schedule__meet__btn ">Schedule a Meet </button>
              <button class="btn__contact__us">Contact Us</button>
            </div>
          </div>
          <p class="our__engagement__content__description">Unlock the potential of international education with ISN.
            Connect, engage, and thrive globally.</p>
        </div>
    </main>
  </section>
    <script>
    function validateEmail(email) {
            const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return re.test(String(email).toLowerCase());
        }
    function submit_contact_form(){
        var isValid=true
        var institute_name = document.getElementById('institute_name_id').value;
        var address = document.getElementById('address').value;
        var email = document.getElementById('email').value;
        var title = document.getElementById('title').value
        var contact = document.getElementById('contact').value
        var contact_person = document.getElementById('contact_person').value
        var service1 = document.getElementById('service1').checked
        var service2 = document.getElementById('service2').checked
        var service3 = document.getElementById('service3').checked
        var message = document.getElementById('message').value
        var privacy = document.getElementById('privacy').checked
        if(institute_name == ''){
            document.getElementById('instituteNameError').style.display = "block"
            isValid=false
        }else{
            document.getElementById('instituteNameError').style.display = "none"
        }
        if(address ==''){
            document.getElementById('addressError').style.display = "block"
            isValid=false
        }else{
            document.getElementById('addressError').style.display = "none"
        }
        if(email ==''){
            document.getElementById('emailError').style.display = "block"
            isValid=false
        }else{
            if (validateEmail(email)){
                document.getElementById('emailError').style.display = "none"
            }else{
                document.getElementById('emailError').style.display = "block"
                isValid=false
            }
        }
        if(contact ==''){
            document.getElementById('contactError').style.display = "block"
            isValid=false
        }else{
            document.getElementById('contactError').style.display = "none"
        }
        if(title ==''){
            document.getElementById('titleError').style.display = "block"
            isValid=false
        }else{
            document.getElementById('titleError').style.display = "none"
        }
        if(contact_person ==''){
            document.getElementById('contactPersonError').style.display = "block"
            isValid=false
        }else{
            document.getElementById('contactPersonError').style.display = "none"
        }
        if(service1 || service2 || service3){
            document.getElementById('serviceError').style.display = "none"
        }else {
            document.getElementById('serviceError').style.display = "block"
            isValid=false
        }
        if(message == ''){
            document.getElementById('messageError').style.display = "block"
            isValid=false
        }else{
            document.getElementById('messageError').style.display = "none"
        }
        if(privacy){
            document.getElementById('termError').style.display = "none"
        }else {
            document.getElementById('termError').style.display = "block"
            isValid=false
        }

        if(isValid){
            var form = document.getElementById("contact-form");
            form.submit();
        }

    }
    </script>
{% endblock %}