{% load static %}
{% load custom_tags %}

<section class="footer">
    <main class="section__container">
      <footer class="footer__container">
        <div class="container__one">
          <img src="{% static 'assets/images/isnlogo.svg' %}" />
          <h4>Ready to get started? Start <br /> Partnership.</h4>
          <div class="email__section">
            <h4>Email us</h4>
            <p>univpartners@isnstudy.com</p>
          </div>
        </div>
        <div class="container__two">
          <h4>Navigation</h4>

          <ul style="padding-left: 0 !important;" class="quick__links">
            <li><a href="/">Home</a></li>
              <li><a href="/platform">ISN Platform</a></li>
              <li><a href="/journey">About</a></li>
              <li><a href="/insights">Insights</a></li>
              <li><a href="/contact/partnership">Partnership</a></li>
          </ul>

        </div>
        <div class="container__three">
          <h4>Stay up to date</h4>

          <ul class="quick__links">
            <p>Stay inform about our latest new <br /> Insights from ISN</p>
            <form method="post" action="/subscription">
                {% csrf_token %}
                <div class="input__container">
                  <input type="text" placeholder="hello@youremai.com" name="email" />
                  <button type="submit" style="border: none; background: none"><img src="{% static 'assets/images/Send.svg' %}" /></button>
                </div>
            </form>

          </ul>

          <div class="social__links__container">
            <h4>Follow us</h4>
            <ul class="social__links">
              <li><a href="#"><img src="{% static 'assets/images/x.svg' %}" /></a></li>
              <li><a href="#"><img src="{% static 'assets/images/youtube.svg' %}" /></a></li>
              <li><a href="#"><img src="{% static 'assets/images/instagram.svg' %}" /></a></li>
              <li><a href="#"><img src="{% static 'assets/images/linkdein.svg' %}" /></a></li>

            </ul>
          </div>



        </div>

      </footer>
      <div class="footer__copyright">
        <hr style="color: white !important" />
        <div class="copyright__content">
          <p>&copy; <script type="text/javascript">
              document.write(new Date().getFullYear())</script> ISN. All Rights Reserved.</p>
          <p>International Study Network LLC 13101 Preston Road Suite 110 #3536 Dallas, Texas 75240 United States</p>
        </div>
      </div>

    </main>

    </main>


    </div>

    </div>
  </section>