{% load static %}
{% load custom_tags %}
<style>
    .start_partnership_footer{
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.4px;
        text-decoration-line: underline;
    }
</style>
<section class="footer">
    <main class="section__container">
      <footer class="footer__container">
        <div class="container__one">
          <img src="{% static 'assets/images/isnlogo.svg' %}" />
          <h4>Ready to get started?<a href="contact/partnership" class="start_partnership_footer"> Start <br /> Partnership.</a> </h4>
          <div class="email__section">
            <h4><strong>Email us</strong></h4>
            <a href="mailto:univpartners@isnstudy.com" style="color: #FFFFFF;"><p><u>univpartners@isnstudy.com</u></p></a>
          </div>
        </div>
        <div class="container__two">
          <h5><strong>Navigation</strong></h5>

          <ul style="padding-left: 0 !important;" class="quick__links">
            <li><a href="/">Home</a></li>
              <li><a href="/platform">ISN Platform</a></li>
              <li><a href="/market-entry">Market Entry</a></li>
              <li><a href="/insights">Insights</a></li>
          </ul>

        </div>
        <div class="container__three">
          <h4><strong>Stay up to date</strong></h4>

          <ul class="quick__links">
            <p>Stay inform about our latest new <br /> Insights from ISN</p>
            <form method="post" action="/subscription">
                {% csrf_token %}
                <div class="input__container">
                  <input type="email" placeholder="hello@youremail.com" name="email" required/>
                  <button type="submit" style="border: none; background: none"><img src="{% static 'assets/images/Send.svg' %}" /></button>
                </div>
            </form>

          </ul>

          <div class="social__links__container">
            <h4>Follow us</h4>
            <ul class="social__links">
              <li><a href="https://www.facebook.com/isnstudy" target="_blank"><img src="{% static 'assets/images/facebook.svg' %}" /></a></li>
              <li><a href="https://www.youtube.com/@internationalstudynetwork" target="_blank"><img src="{% static 'assets/images/youtube.svg' %}" /></a></li>
              <li><a href="https://www.instagram.com/isnstudy" target="_blank"><img src="{% static 'assets/images/instagram.svg' %}" /></a></li>
              <li><a href="https://www.linkedin.com/company/isnstudy/" target="_blank"><img src="{% static 'assets/images/linkedin.svg' %}" /></a></li>
              <li><a href="https://www.tiktok.com/@isnstudy" target="_blank"><img src="{% static 'assets/images/tiktok.svg' %}" /></a></li>
            </ul>
          </div>



        </div>

      </footer>
      <div class="footer__copyright">
        <hr style="color: white !important" />
        <div class="copyright__content">
          <p>&copy; <script type="text/javascript">
              document.write(new Date().getFullYear())</script> ISN. All Rights Reserved.</p>
          <p>International Study Network LLC 13101 Preston Road Suite 110 #3536 Dallas, Texas 75240 United States</p>
        </div>
      </div>

    </main>

    </main>


    </div>

    </div>
  </section>