{% extends 'base.html' %}
{% load static %}
{% block base %}
    <style>
    .faqs:hover{
        color: #2D2F82 !important;
        leading-trim: both;

        text-edge: cap;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px; /* 128.571% */
        text-decoration-line: underline;
    }
      .carousel-indicators li {
      border-radius: 10px;
      }
    </style>
<section class="homepage__container">
    <main class="section__container">
      <div class="hero__container">
        <div class="hero__left">
          <div class="hero__container__slogan">
{#            <p>INTERNATIONAL STUDY NETWORK</p>#}
            <h1>
              Diversify Your <br />
              University: Partner <br />
              with <span><img style="scale: unset;" src="{% static 'assets/images/isn.svg' %}"/></span>  Today.
            </h1>
            <p>
              Partner with ISN to unlock your university's potential,
              connecting with top international students for a diverse,
              excellent, and culturally rich academic community.
            </p>
          </div><a href="#know-more">
            <div style="margin: 1rem 0" class="hero_btn_container">
            <button class="btn__primary__home">Know more about ISN</button>
          </div>
        </a>


          <div class="hero__container__question">
            <p>What are you looking for?</p>
            <a href="/contact/partnership" class="faqs">
              I want to diversify my international student population at my
              academic institution.
            </a>
            <p class="faqs">
              <a href="/platform#study-usa-partners" class="faqs">I am recruitment partner who wants to leverage US applications.</a>
            </p>
            <p class="faqs">
              <a href="/platform" class="faqs">I am a student who wants to study in the US.</a>
            </p>
          </div>
        </div>
        <div class="hero__right">
          <div class="hero__right__card__container">
            <div class="card__red">
              <div class="card__ratedby">10k<span>+</span></div>
              <div style="font-size: 14px">Students Helped</div>
            </div>
            <div class="card__lightgreen">
              <div class="card__ratedby">500<span>+</span></div>
              <div style="font-size: 14px">Recruitment Partners</div>
            </div>
            <div class="card__green">
              <div class="card__ratedby">5000<span>+</span></div>
              <div style="font-size: 14px; text-align: center">
                Courses
              </div>
            </div>
            <div class="card__secondaryblue">
              <div class="card__ratedby">150<span>+</span></div>
              <div style="font-size: 14px">
                Countries<span style="visibility: hidden"> dd</span>
              </div>
            </div>
          </div>
          <div class="dd">
            <img src="{% static 'assets/images/banner.png' %}" />
          </div>
        </div>
      </div>
    </main>
  </section>
  <section id="partners" class="section__container">
    <main class="ourpartner__container">
      <div class="title">Our<span> Partners.</span></div>

      <div class="marquee marquee--6">
        <img class="marquee__item" src={% static 'assets/images/texas-state.svg' %}    alt="">
        <img class="marquee__item" src="{% static 'assets/images/UNT.svg' %}"  alt="">
        <img class="marquee__item" src="{% static 'assets/images/WSU.svg' %}"  alt="">
        <img class="marquee__item"  src="{% static 'assets/images/MSU.svg' %}"  alt="">
        <img class="marquee__item" src="{% static 'assets/images/WESU.svg' %} "  alt="">
        <img class="marquee__item" src="{% static 'assets/images/TUNM.svg' %}"  alt="">
      </div>
      <div class="ourpartner__chart__container">
        <img src="{% static 'assets/images/chart.svg' %}" />

        <div class="chart__container__right">
          <p class="secondary_title">ABOUT US</p>
          <div class="content__title">
            Connecting Global Minds: <br /><span>About ISN</span>
          </div>
          <p class="content__description">
            At ISN, we bridge the gap between international students and
            educational institutions in the United States. Our innovative
            platform facilitates seamless partnerships and engagements,
            enabling universities and colleges to connect with a diverse pool
            of talented students from across the globe.
          </p>
          <div class="characteristics__container">
            <div onclick="toggleDetails(this)" class="characterstic__card">
              <div class="start__icon__container">
                <img src="{% static 'assets/images/star.svg' %}" alt="star__icon" />
              </div>
              <div id="card" class="card__with__description">
                <h4 class="card__title">Comprehensive Data Visualization</h4>
                <p> We provide robust data systems that help universities connect with students, personalize their educational experiences, and improve overall outcomes.</p>
              </div>
            </div>
          </div>
          <div onclick="toggleDetails(this)" class="characterstic__card">
            <div class="start__icon__container">
              <img src="{% static 'assets/images/star.svg' %}" alt="star__icon" />
            </div>
            <div id="card" class="card__with__description">
              <h4 class="card__title">Global Reach</h4>
              <p> We develop strategic plans, enhance online presence, build international partnerships, and provide robust student support for universities to expand their global reach.</p>
            </div>


          </div>
          <div onclick="toggleDetails(this)" class="characterstic__card">
            <div class="start__icon__container">
              <img src="{% static 'assets/images/star.svg' %}" alt="star__icon" />
            </div>
            <div class="card__with__description">
              <h4 class="card__title">Seamless Updates</h4>
              <p>
                Our system allows institutions to easily update their data, ensuring the most accurate and current information is always available.
              </p>
            </div>
          </div>
          <div onclick="toggleDetails(this)" class="characterstic__card">
            <div class="start__icon__container">
              <img src="{% static 'assets/images/star.svg' %}" alt="star__icon" />
            </div>
            <div id="card" class="card__with__description">
              <h4 class="card__title">Outstanding Performance</h4>
              <p> Institutions will enhance their ability to reach and attract students from around the world through our data-driven insightful resources.
</p>
            </div>

          </div>
        </div>

      </div>
        <div>
        <hr class="horizontal__line" />
        <div class="partner__us__content">
          <p>
            Join us in shaping the future of international education. Partner with ISN and discover the power of global
            connections.
          </p>
        </div>
      </div>
    </main>
  </section>
  <section class="section__platform__wrapper">
    <main class="section__container">
      <div class="ourplatform__container">
        <div class="ourplatform___left">
          <div class="content__title">
            A
            <span>Comprehensive<br />
              Platform</span>
            for All Your<br />
            Needs
          </div>
          <p class="secondary_title">
            Our platform offers comprehensive support for educational
            institutions, streamlining the entire process from initial
            engagement to ongoing collaboration.
          </p>
            <a  href="/platform" style="text-decoration: none"><button class="btn__primary__home" >Learn More</button></a>
        </div>
        <div class="ourplatform___right">
          <div class="ourplatform___card">
            <div class="medal__icon__container">
              <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
            </div>
            <div class="platform__description">
              <h4>Students</h4>
              <p>
                SelfAppie assists universities receive applications in a standardized
                format, making it easier to process and review.
              </p>
            </div>
          </div>
          <div class="ourplatform___card">
            <div class="medal__icon__container">
              <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
            </div>
            <div class="platform__description">
              <h4>Recruitment Partners</h4>
              <p>
                StudyUSA Partners connects recruitment partners with universities
                that enhance global recruitment efforts.
              </p>
            </div>
          </div>
          <div class="ourplatform___card">
            <div class="medal__icon__container">
              <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
            </div>
            <div class="platform__description">
              <h4>Partner Institutes</h4>
              <p>
                Institutions can start their partnership with ISN seamlessly through
                our Start Partnership form.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>

  <section class="section__container">
    <div class="container">
      <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'assets/images/students.svg' %}" class="d-block w-100" alt="Image 1">
          </div>
            <div class="carousel-item">
            <img src="{% static 'assets/images/slider1.png' %}" class="d-block w-100" alt="Image 3">
          </div>
          <div class="carousel-item">
            <img src="{% static 'assets/images/slider.png' %}" class="d-block w-100" alt="Image 2">
          </div>

        </div>

        <!-- Controls and Indicators below content -->
        <div style="visibility: hidden;" id="know-more"> how we can help</div>
        <div class="carousel-control-wrapper">
          <span style="visibility: hidden; margin-top: 2rem;"></span>
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#imageCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#imageCarousel" data-bs-slide-to="2"></li>
          </ol>

          <!-- <span style="visibility: hidden;"></span> -->

        </div>
      </div>
    </div>
    <div class="empower__container__bottom">
      <p class="secondary_title">HOW WE CAN HELP</p>
      <div class="content__title">
        Empower Your Institution: <span>How We Can Help</span>
      </div>
      <p>
        At ISN, we provide a range of services designed to enhance your
        institution’s international outreach and engagement. Here’s how we can
        help:
      </p>
    </div>
    <div class="empower__card__container">
      <div class="empower__card">
        <div class="empower__icon__container">
          <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
        </div>
        <div class="empower__description">
          <h4>Data-Driven Insights</h4>
          <p>
            Leverage our robust data visualization tools to gain insights into
            global student trends. Our platform transforms complex research
            data into easy-to-understand graphics, charts, and maps.
          </p>
        </div>
      </div>
      <div class="empower__card">
        <div class="empower__icon__container">
          <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
        </div>
        <div class="empower__description">
          <h4>Market Fit</h4>
          <p>
            Discover your ideal student demographic with Market Fit.
            Strategically grow and retain enrollments for sustainable success.
          </p>
        </div>
      </div>
      <div class="empower__card">
        <div class="empower__icon__container">
          <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
        </div>
        <div class="empower__description">
          <h4>Global Outreach</h4>
          <p>
            Expand your reach with our active presence in multiple countries.
            Showcase your institution to a diverse and global audience,
            increasing your visibility and appeal to international students.
          </p>
        </div>
      </div>
      <div class="empower__card">
        <div class="empower__icon__container">
          <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
        </div>
        <div class="empower__description">
          <h4>Strategic Marketing</h4>
          <p>
            Boost your institution’s profile with our targeted marketing
            strategies. From digital campaigns to social media engagement, we
            help you stand out in a competitive market.
          </p>
        </div>
      </div>

      <div></div>
    </div>
    <div class="btn__container">
        <a href="/contact/partnership">
            <button class="btn__primary__home">Partner with us</button>
        </a>
    </div>
    <hr class="horizontal__line" />
    <div class="partner__us__content">
      <p class="secondary_title">
        Partner with ISN and unlock the potential of international education.
        Let us help you connect, engage, and thrive globally.
      </p>
    </div>
  </section>
  <section class="our__avalability__container">
    <main class="section__container">
      <div class="availability__content">
        <div style="width: 100%; max-width: 100%; box-sizing: border-box" class="content__title">
          We unite
          <span>US institution with students <br />
            and recruiting partners</span>
          from around <br />
          the globe.
        </div>
        <p class="content__description">
          We bring together schools, students, and recruiting partners
          worldwide, fostering a global network for seamless collaboration and
          opportunities.
        </p>
        <div class="availability__zone__map">
{#          <img src="{% static 'assets/images/map.svg' %}" />#}
            {% include 'vector-map.html' with country=map_country_list color="#D24347" %}
        </div>
      </div>
    </main>
  </section>
  {% if testimonials|length > 0 %}
      <section class="saying__container">
    <main class="section__container">

      <div class="saying__content">

        <div class="saying__title">
          <p>TESTIMONIALS</p>
          <h4>What Our Partners Are <br /> Saying</h4>
          <p class="detail">Hear directly from our partners about their experiences and the impact of working with ISN.
          </p>
        </div>

        <div class="slider">
          <div class="slider__container">
                {% for testimonial in testimonials %}
                    <div class="slider__card">
                      <img class="img" src="{{ testimonial.photo.url }}" alt="User testimonial background"  width="145" height="149"/>
                      <p>{{ testimonial.message }}</p>
                      <div class="user__detail">
                        <h4>{{ testimonial.name }}</h4>
                        <p>{{ testimonial.designation }} at {{ testimonial.company_name }}</p>
                      </div>
                    </div>
              {% endfor %}
          </div>
          <button class="slider__arrow slider__arrow--left" aria-label="Previous slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white">
              <path
                d="M14.71 18.29a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42L10.12 12l5.3-5.29a1 1 0 1 0-1.42-1.42l-6 6a1 1 0 0 0 0 1.42l6 6z" />
            </svg>
          </button>
          <button class="slider__arrow slider__arrow--right" aria-label="Next slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="white">
              <path
                d="M9.71 18.29a1 1 0 0 1-1.42 0 1 1 0 0 1 0-1.42l4.58-4.58-4.58-4.59a1 1 0 0 1 1.42-1.42l6 6a1 1 0 0 1 0 1.42l-6 6z" />
            </svg>
          </button>
        </div>
    </main>

  </section>
    {% endif %}
  <section class="our__diversity__container">
    <main class="section__container">
      <div class="diversity__content">
        <div class="title">Embrace <br /><span>Diversity with ISN.</span></div>
        <p style="text-align: center; margin-top: 0.8rem" class="secondary_title">
          At ISN, we celebrate diversity in all its forms, bringing together
          students from a wide array of demographic and geographical
          backgrounds. Our extensive data highlights the richness of our
          network and the opportunities it presents.
        </p>
      </div>
      <div class="diversity__card__container">
        <div class="diversity__grid">
          <div class="diversity__card">
            <img src="{% static 'assets/images/stem.png' %}" />
            <div class="diversity__card__stems">
              <div>
                  ✅ STEM Majors</div>
              <div>✅ Non-STEM Majors</div>
            </div>
          </div>
          <div class="diversity__card">
            <img src="{% static 'assets/images/bargraph.svg' %}" />
            <div class="diversity__card__transfer__detail">
              <p>Our application pool is well versed among <br /> <span>Undergraduate, Graduate and Transfer.</span>
              </p>

            </div>
          </div>
        </div>
        <div class="diversity__center">
          <div class="content">
            The market is <span>FRAGMENTED</span> with several players occupying the market share
          </div>
          <span class="horizontal__box">
            <p style="visibility: hidden;">line</p>
          </span>
          <div class="content">
            One of the <span> key drivers</span> of the market will be the <span> rising demand for customized
              learning.</span>

          </div>
        </div>
        <div class="diversity__map__container">
          <img src="{% static 'assets/images/map2.svg' %}">
            <div class="description">We are active in <span>Asia,</span> <span><br /> Africa, North America <br /> and South
              America.</span></div>
        </div>
      </div>
    </main>
  </section>
  <section class="our__trust__container">
    <main class="section__container">
      <div class="our__trust__container">
        <div class="our__trust__content__description">
          <div class="title">
            Reliability
            <span>You Can <br />
              Trust.</span>
          </div>
          <p style="text-align: center; margin-top: 0.8rem">
            At ISN, we prioritize accuracy and reliability in every aspect of
            our platform. Here’s why you can trust the data we provide:
          </p>
        </div>
        <div class="card__container__trust">
          <div class="card__trust">
            <img src="{% static 'assets/images/rafiki.svg' %}" />
            <div class="card__trust__content">
              <h4>Comprehensive Research</h4>
              <p>
                Our data is meticulously gathered through extensive research and verified surveys, ensuring that every piece of information is both accurate and up-to-date.
              </p>
            </div>
          </div>
          <div class="card__trust">
            <img src="{% static 'assets/images/method-comp.svg' %}" />
            <div class="card__trust__content">
              <h4>Transparent Methodology</h4>
              <p>
                We are committed to transparency in our data collection methods. Our rigorous standards and practices ensure the highest level of reliability and trustworthiness.
              </p>
            </div>
          </div>
          <div class="card__trust">
            <img src="{% static 'assets/images/trusted.svg' %}" />
            <div class="card__trust__content">
              <h4>Trusted by
                US Institutions</h4>
              <p>
                Educational institutions and recruiting partners around the globe rely on ISN for accurate and reliable data. Our platform is built on a foundation of trust and integrity, making us a dependable partner in international education.
              </p>
            </div>
          </div>
        </div>
        <div>
          <hr class="horizontal__line" />
          <div class="partner__us__content">
            <p class="secondary_title">
              Experience the confidence that comes with reliable data. Trust ISN to provide the accurate, up-to-date information you need to make informed decisions.
            </p>
          </div>
        </div>
      </div>
    </main>
  </section>
  <section class="our__engagement__container">
    <main class="section__container">
      <div class="our__engagement__container">
        <div class="our__engagement__content">
          <div class="title__lg">
            Ready to Transform Your <br />
            <span>International Engagement? </span>
          </div>
          <p class="our__engagement__content__description">
            Join the growing network of educational institutions and recruiting
            partners benefiting from ISN’s comprehensive platform. Our tools and
            data insights are designed to simplify your international outreach,
            enhance your recruitment strategies, and foster global partnerships.
          </p>

          {% include 'meet_us.html' %}
          <p class="our__engagement__content__description">Unlock the potential of international education with ISN.
            Connect, engage, and thrive globally.</p>
        </div>
    </main>
  </section>
  <section>
  {% if insights|length >= 1 %}
    <main class="section__container">
      <div class="our__blogs__content">
        <div class="our__blogs__content__container">
          <div class="content__title">Gain an Edge: <span>Insights</span></div>
          <p>Stay ahead with the latest trends and data in international education. Our Insights section provides
            valuable information to help you make informed decisions and enhance your strategies.</p>
        </div>
        <div class="blogs__insights__container">
          <div class="main__blog__container">
            <div class="container__left">
              <div class="img__container">
                <img src="{{ insights.0.cover_image.url }}" />
              </div>
              <div class="insights__content__container">
{#                <p>Trends</p>#}
                <h4>{{ insights.0.title }}</h4>
                <p>{{ insights.0.summary|truncatechars:100}}
                        <a href="/insight/{{ insights.0.slug }}"><span class=""> Read More</span></a>
                </p>
              </div>
            </div>

            <div class="container__right">
              <div class="latest__blog__title">Latest Insights</div>
                {% for item in insights|slice:"1:3" %}
                  <div class="blog__container">
                    <h6>{{ item.title }}</h6>
                    <p>
                        {{ item.summary|truncatechars:100}}
                        {% if  item.summary|length > 100%}
                        <a href="/insight/{{ item.slug }}"><span class=""> Read More</span></a>
                        {% endif %}
                    </p>
                  </div>
                {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </main>
  {% endif %}
  </section>
{% endblock %}