{% extends 'base.html' %}
{% load static %}
{% block base %}

    {% load custom_tags%}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/insigntsdetail.css' %}" />
    <section class="insignts__detail__home" style="background-image: url('{{ insight.cover_image.url }}');">
    <div class="content__conatiner">
      <div style="color: white !important; text-align: center" class="content__title">
          {{ insight.title }}
      </div>
      <div class="stats__insights font">
        - {{ insight.author.first_name }}&nbsp;{{ insight.author.last_name }}&nbsp;[{{ insight.created_at }} (CDT)]
      </div>
    </div>
  </section>
  <section class="insignts__content__container">
    <main class="section__container">
      <div class="content__wrapper">
        <div content="content__left">
          {{ insight.content|safe }}
        {% if comment|length > 0 %}
          <section class="comment__container">
            {% for cmt in  comment %}
                <div class=" comments__container">
              <div class="user__avatar__container">
                <div class="user__avatar flex-row-aligned" id="userAvatar">{{ cmt.name }}</div>
              </div>
              <div class="comment">
                <div style="justify-content: space-between" class="flex">
                  <h6 style="font-weight: 600">{{ cmt.name }}</h6>
                <p style="color: #9397ad; font-size: 14px !important">
                    {{ cmt.created_at }} (CDT)
                  </p>
                </div>
                <p>
                  {{ cmt.message }}
                </p>
              </div>
            </div>
              {% endfor %}

          {% if comment.has_next %}
            <a href="/insight/{{ insight.slug }}?comment_page={{ comment.next_page_number }}" style="cursor: pointer" class="see__more__comments font">See 10 more comments</a>
          {% endif %}
          </section>
        {% endif %}
            <form method="POST" action="/comment">
                {% csrf_token %}
                <section class="comment__container">
                <h4 style="text-align: left; margin-bottom: 1.6rem ; margin-top: 1rem">Comment on this post</h4>
                <div class="comment__input__container">
                    <input type="text" value="{{ insight.id }}" name="id" hidden>
                  <div class="comment__inputs">
                    <input name="name" placeholder="Enter your name" class="input__form" required>
                    <input type="email" name="email" placeholder="Enter your email" class="input__form" required>

                  </div>
                  <textarea name="message" placeholder="Enter your comment" class="input__form input__textarea" required>

                  </textarea>
                    <div class="btn__container__comment">
                    <button type="submit" style="align-self: left" class="btn__suscribe btn-submit-comment ">submit</button>
                  </div>
                </div>

              </section>

            </form>
            <form method="POST" action="/subscription">
                {% csrf_token %}
                <section class="newsletter">
            <div class="Signup__newsletter"><span style="color:#D24347">Sign Up for Our Newsletters</span></div>

            <div style="margin-top: 0.8rem;" class="comment__inputs ">
              <input name="name" type="text" placeholder="Enter your name" class="input__form input__form--email" required>
              <input name="email" type="email" placeholder="Enter your email address" class="input__form input__form--email" required>

              <button type="submit" class="btn__suscribe ">Subscribe</button>
            </div>
            <div class="terms__condition">
              <input type="checkbox" id="checkbox" name="confirm_tac" class="checkbox" required>
              <label for="checkbox">By checking this box, you confirm that you have read and are agreeing to our terms of use regarding the storage of the data submitted through this form.</label>
            </div>
          </section>
            </form>
          <!-- <section style="margin-top: 1rem !important;" class="comment__container">
             <h6 style="font-weight: 600; size: 24px;">Comment on this post</h6>
              <div class="c">

              </div>
            </section> -->
        </div>

        <div class="content__right">
          <h1 style="font-size: 22.03px !important;" class="title__base">Follow Us</h1>
          <ul class="social__links">
              <li><a href="https://www.facebook.com/isnstudy" target="_blank"><img src="{% static 'assets/images/facebook.svg' %}" /></a></li>
              <li><a href="https://www.youtube.com/@internationalstudynetwork" target="_blank"><img src="{% static 'assets/images/youtube.svg' %}" /></a></li>
              <li><a href="https://www.instagram.com/isnstudy" target="_blank"><img src="{% static 'assets/images/instagram.svg' %}" /></a></li>
              <li><a href="https://www.linkedin.com/company/isnstudy/" target="_blank"><img src="{% static 'assets/images/linkedin.svg' %}" /></a></li>
              <li><a href="https://www.tiktok.com/@isnstudy" target="_blank"><img src="{% static 'assets/images/tiktok.svg' %}" /></a></li>
          </ul>
          <hr/>
        <form method="POST" action="/subscription">
            {% csrf_token %}
          <div class="suscribe__box">
            <p>
              <span>Subscribe</span> to our newsletter and receive a selection
              of cool articles every weeks
            </p>
            <input name="email" class="suscrible__input " placeholder="hello@youremai.com"  required/>
            <button type="submit" style="width: 100%; margin:2rem 0;" class="suscribe__button">Subscribe</button>
          </div>
        </form>
          <div class="latest__blog flex-row-aligned">
            {% if latest %}
              <h1 style="font-size: 22.03px !important;" class="title__base">The latest</h1>
            {% endif %}
              {% for lat in latest %}
            <div class="latest__blog__container in-insights-detail">
              <img src="{{ lat.cover_image.url }}" style="height: 200px; width: 297px"/>
              <div class="blog__content__description">
                <h6 class="font-weight font-normal">
                  {{ lat.title }}
                </h6>
                <p class="font-normal">
                  {{ lat.summary|truncatechars:100 }}  <a href="/insight/{{ lat.slug }}"><span class=""> Read More</span></a>
                </p>
              </div>
            </div>
              {% endfor %}

          </div>
        </div>
      </div>

      <div class="you__may__also__like">
        {% if recommendation %}
          <h6 class="title__base">You May Also Like</h6>
        {% endif %}
        <div style="margin: 2rem 0;" class="all__blogs__container">
            {% for rec in recommendation %}
              <div class="grid-item">
                <img src="{{ rec.cover_image.url }}" />
                <h6 class="font-weight font-normal margin">
                  {{ rec.title }}
                </h6>
                <p class="font-normal">
                  {{ rec.summary|truncatechars:200 }} <a href="/insight/{{ rec.slug }}"><span class=""> Read More</span></a>
                </p>
              </div>
            {% endfor %}
        </div>
      </div>
    </main>
  </section>
{% endblock %}