
{% extends 'base.html' %}
{% load static %}
{% block base %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/insightspage.css' %}" />
    <section class="homepage__container">
        <main class="section__container">
            <div class="insights__home">
{#                <p class="secondary_title">ISN PLATFORMS</p>#}

                <div style="white-space-collapse: discard; word-break: normal !important" class="content__title">
                    Unlock Key Insights: Data- <br />Driven
                    <span>Analysis for Universities</span>
                </div>
                <p class="short__description">
                    Welcome to our Insights page, where data meets strategy to empower
                    universities in their international recruitment and engagement
                    efforts. Our data-driven insights are presented in intuitive charts
                    and graphs, offering a clear view of key metrics on demography,
                    diversity, and more.
                </p>
                <form method="post" action="/subscription">
                    {% csrf_token %}
                    <div class="suscribe__box">
                        <div class="box__left">
                            <input type="email" name="email" placeholder="hello@youremai.com" required/>
                            <p>We care about your data in our <a style="cursor: pointer" href="/privacy-policy"><span>privacy policy</span></a></p>
                        </div>

                        <button type="submit" class="suscribe__button">Subscribe</button>
                    </div>
                </form>
            </div>
        </main>
    </section>
    {% if latest_items|length >= 1 %}
    <section class="section__container">
        <div class="insights__blogs__container">
            <div class="search__container__box">
                <h4>Latest Insights</h4>
                <div class="search-container">
                    <button class="search-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </button>
                    <form method="get" action="/insights">
                        <input type="text" value="{{ request.GET.search }}" name="search" class="search-input" placeholder="Search for insights" />
                    </form>
                </div>
            </div>
        </div>
        <div class="latest_insights__container">
            {% if latest_items|length >= 1 %}
            <div class="left__content"  >
                <img src="{{ latest_items.0.cover_image.url }}" style="max-height: 200px"/>
                <div class="latest__insights__container">
                    <p>Trends</p>
                    <h4>{{ latest_items.0.title }}</h4>
                    <p>
                        {{ latest_items.0.summary|truncatechars:100}}
                        {% if  latest_items.0.summary|length > 100%}
                        <a href="/insight/{{ latest_items.0.slug }}"><span class=""> Read More</span></a>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endif %}
            <div class="latest__container__right">
                {% for item in latest_items|slice:"1:3" %}
                <div class="latest__blog__container">
                    <img src="{{ item.cover_image.url }}" />
{#                    <img src="{% static 'assets/images/blog2.svg' %}" />#}
                    <div class="blog__content__description">
                        <p>
                            {{ item.title }}
                        </p>
                        <p>
                            {{ item.summary|truncatechars:100}}
                            {% if  item.summary|length > 100%}
                            <a href="/insight/{{ item.slug }}"><span class=""> Read More</span></a>
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <section class="section__container">
        <div class="all__blogs__container">
            {% for item in insights %}
                <div class="grid-item">
                <img src="{{ item.cover_image.url }}" />
                <h6>
                    {{ item.title }}
                </h6>
                <p>
                    {{ item.summary|truncatechars:100}}
                            {% if  item.summary|length > 100%}
                            <a style="text-decoration: none" href="/insight/{{ item.slug }}"><span class="">Read More</span></a>
                            {% endif %}
                </p>
            </div>
            {% endfor %}
        </div>

    {% if total_pages > 1 %}
        <div class="pagination__container">
            <hr class="pagination__vertical__line" />
            <div class="pagination">

                <a class="prev" href="/insights?page={% if page_obj.has_previous %}{{ insights.previous_page_number }}{% else %}1{% endif %}" style="text-decoration: none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="16" height="16"
                        stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                    </svg>
                    <span>Previous</span>
                </a>

                <div class="pagenumber__container">

                {% with ''|center:total_pages as range %}
                    {% for num in range %}
                        {% if request.GET.page == num %}
                            <a href="/insights?page={{ forloop.counter }}" style="text-decoration: none; cursor: pointer" class="active-page pagenumber" >{{ forloop.counter }}</a>
                        {% elif request.GET.page is None and forloop.counter == 1%}
                            <a href="/insights?page={{ forloop.counter }}" style="text-decoration: none; cursor: pointer" class="active-page pagenumber" >{{ forloop.counter }}</a>
                        {% else %}
                            <a href="/insights?page={{ forloop.counter }}" style="text-decoration: none; cursor: pointer" class="pagenumber">{{ forloop.counter }}</a>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                </div>
                {% if insights.has_next %}
                <a class="next" href="/insights?page={{ insights.next_page_number }}" style="text-decoration: none">
                    <span>Next</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="16" height="16"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </a>
                    {% endif %}
            </div>
        </div>
    {% endif %}
    </section>
    <section class="our__engagement__container">
        <main class="section__container">
            <div class="our__engagement__container">
                <div class="our__engagement__content">
                    <div class="title__lg">
                        Ready to Transform Your <br />
                        <span>International Engagement? </span>
                    </div>
                    <p class="our__engagement__content__description">
                        Join us at ISN Platforms and leverage our tools to make your international education journey smoother and more successful.
                        Whether you're a student looking to study abroad or a university seeking global partnerships, we have the right solution for you.
                    </p>

                    {% include 'meet_us.html' %}
                    <p class="our__engagement__content__description">
                        Unlock the potential of international education with ISN. Connect, engage, and thrive globally.
                    </p>
                </div>
        </main>
    </section>
    <script>
        // JavaScript to handle Enter key press for form submission
        document.getElementById('search').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent the default Enter key behavior
                document.getElementById('myForm').submit(); // Submit the form
            }
        });
    </script>
{% endblock %}