{% extends 'base.html' %}
{% load static %}
{% block base %}
    <style>
    .platform-text{
        color:  #86A0AC;
        text-align: center;
        leading-trim: both;

        text-edge: cap;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 128.571% */
        text-transform: uppercase;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/isnplatform.css' %}" />
    <section class="homepage__container">
    <main class="section__container">
      <div class="isn__platform__home">
{#        <p class="secondary_title">ISN PLATFORMS</p>#}
        <div><img class="selfappie__icon" src="{% static 'assets/images/selfappie.svg' %}" loading="lazy"></div>
        <div style="white-space-collapse: discard; word-break: normal !important" class="content__title">
          Simplifying Your
          <span>Application <br />
            Process.</span>
        </div>
        <p class="short__description">
          SelfAppie is an intuitive platform that guides students through
          every step of their application journey. From finding the right
          universities to submitting applications, SelfAppie provides
          comprehensive support to make the process smooth and stress-free.
        </p>
      </div>
    </main>
  </section>
  <div class="isn__banner">
    <img src="{% static 'assets/images/isn_banner.svg' %}" />
  </div>

  <section style="background-color: white" class="our__diversity__container">
    <main class="section__container">
      <div class="SelfAppie__content">
        With <span>SelfAppie</span>, we streamline applications to US universities for international students,<span>
          making the process simple, logical, and joyful,</span> forging a direct path to higher education for students
        worldwide.
      </div>
      <div class="diversity__content">
        <div class="title">Embrace <span>Diversity with ISN.</span></div>
        <p style="text-align: center; margin-top: 0.8rem" class="secondary_title">
          At ISN, we celebrate diversity in all its forms, bringing together
          students from a wide array of demographic and geographical
          backgrounds. Our extensive data highlights the richness of our
          network and the opportunities it presents.
        </p>
      </div>

      <div class="masonry-grid">
        <div class="box box-1">
          <div class="triangle trangel-top"></div>
          <div class="counter counter-top">01</div>

          <img src="{% static 'assets/images/usericon.svg' %}" />
          <h6>University Search</h6>
          <p>Discover and compare universities based on your preferences and qualifications.</p>
        </div>
        <div class="box box-2 item-bottom">
          <div class="triangle trangel-bottom "></div>
          <div class="counter counter-bottom">02</div>
          <img src="{% static 'assets/images/search.svg' %}" />
          <h6>Application Management</h6>
          <p>Easily manage and track your applications in one place.</p>
        </div>
        <div class="box box-3">
          <div class="triangle trangel-top "></div>
          <div class="counter counter-top">03</div>
          <img src="{% static 'assets/images/documents.svg' %}" />
          <h6>Document Assistance</h6>
          <p>Get help with preparing and submitting required documents.</p>
        </div>
        <div class="box box-4 item-bottom">
          <div class="triangle trangel-bottom"></div>
          <div class="counter-bottom  counter">04</div>
          <img src="{% static 'assets/images/service.svg' %}" />
          <h6>Visa Application Support</h6>
          <p>Simplifying visas with personalized guidance, ensuring all requirements for a successful outcome.</p>
        </div>

      </div>
<div>
          <hr class="horizontal__line" />
          <div class="partner__us__content">
            <p class="secondary_title">
              Discover how SelfAppie can simplify your application process and support your educational journey. Learn more about SelfAppie <a href="">here</a>.
            </p>
          </div>
        </div>
    </main>
  </section>
  <section class="collaboration__container">
    <main class="section__container">
      <div class="our__collaboration__container" id="study-usa-partners">
        <div class="our__engagement__content">
          <div class="isn__platform__home">
{#            <p class="secondary_title">ISN PLATFORMS</p>#}
            <img src="{% static 'assets/images/Partners.svg' %}">
            <div style="white-space-collapse: discard; word-break: normal !important" class="content__title">

              Facilitating <br /><span> Seamless Collaboration.</span>

            </div>
            <p class="short__description">
              Join StudyUSA Partners, where ambition meets opportunity! Elevate your agency with elite access to
              prestigious US institutions, exceptional incentives, and cutting-edge tools for unparalleled student
              service success.
            </p>
          </div>
        </div>

    </main>
  </section>
  <div class="isn__banner">
    <img src="{% static 'assets/images/partner_banner.svg' %}" />
  </div>
  <section style="background-color: white" class="our__partner__container">
    <main class="section__container">
      <div class="SelfAppie__content">
        <span>StudyUSA</span> Partners' goal is to simplify and expedite the US application process while <span>
        offering high incentives to our recruiting partners,</span> ensuring a seamless and rewarding experience.
      </div>



    </main>
  </section>
  <section  style="background-color: white ; padding: 1rem 0;" class="our__diversity__container">
    <main class="section__container">


      <div class="diversity__content">
        <div class="title">Smooth <span>US Student Recruitment</span></div>
        <p style="text-align: center; margin-top: 0.8rem" class="secondary_title">
          Enabling your agency's success in US university admissions with comprehensive resources, while prioritizing long-term growth and prosperity.
        </p>
      </div>

      <div class="masonry-grid">
        <div class="box box-1">
          <div class="triangle trangel-top"></div>
          <div class="counter counter-top">01</div>

          <img src="{% static 'assets/images/hand.svg' %}" />
          <h6>Easy-to-Use</h6>
          <p>Easily manage partnerships with international recruiting agents and partners.</p>
        </div>
        <div class="box box-2 item-bottom">
          <div class="triangle trangel-bottom "></div>
          <div class="counter counter-bottom">02</div>
          <img src="{% static 'assets/images/incentive.svg' %}" />
          <h6>High Incentives</h6>
          <p>Maximize Earnings: Enjoy the industry's highest incentives for every successful enrollment.</p>
        </div>
        <div class="box box-3">
          <div class="triangle trangel-top "></div>
          <div class="counter counter-top">03</div>
          <img src="{% static 'assets/images/Heart.svg' %}" />
          <h6>Student Favorite Universities</h6>
          <p>Exclusive Access: Partner with top-ranked universities loved by students worldwide.</p>
        </div>
        <div class="box box-4 item-bottom">
          <div class="triangle trangel-bottom"></div>
          <div class="counter-bottom  counter">04</div>
          <img src="{% static 'assets/images/Provision.svg' %}" />
          <h6>Tools and Resources</h6>
          <p>Empowering Partnerships: Gain access to cutting-edge tools for exceptional student support.</p>
        </div>

      </div>

      <hr class="horizontal__line" />
      <p style="text-align: center; margin-top: 0.8rem" class="secondary_title">
          Explore how StudyUSA Partner can enhance your institution's international recruit,ent efforts. Learn more about StudyUSA Partner <a href="#study-usa-partners">here</a>.
      </p>

    </main>
  </section>
  <section class="our__engagement__container">
    <main class="section__container">
      <div class="our__engagement__container">
        <div class="our__engagement__content">
          <div class="title__lg">
            Ready to Transform Your <br />
            <span>International Engagement? </span>
          </div>
          <p class="our__engagement__content__description">
            Join us at ISN Platforms and leverage our tools to make your international education journey smoother and more successful. Whether you're a student looking to study abroad or a university seeking global partnerships, we have the right solution for you.
          </p>

          {% include 'meet_us.html' %}
          <p class="our__engagement__content__description">Unlock the potential of international education with ISN.
            Connect, engage, and thrive globally.</p>
        </div>

    </main>
  </section>
{% endblock %}