{% extends 'base.html' %}
{% load static %}
{% block base %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/job-application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/job-detail.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/openjobs.css' %}" />
    <section class="section__container">
        <main class="job__content__container">
            <div class="job__content__left">
                <div class="content__title">Full-Stack <span>Developers </span></div>
                <div>
                    <h6 class="heading__title">What You Will Do</h6>
                    <ul class="content__list">
                        <li>
                            Develop and maintain web applications using a variety of
                            technologies such as HTML, CSS, JavaScript, Node.js, React, and
                            more.
                        </li>
                        <li>
                            Collaborate with designers to bring UI/UX designs to life.
                        </li>
                        <li>
                            Implement responsive web design principles to ensure
                            applications render well on all devices.
                        </li>
                        <li>Write clean, scalable, and well-documented code.</li>
                        <li>Debug and resolve technical issues as they arise.</li>
                        <li>Optimize applications for maximum speed and scalability.</li>
                        <li>
                            Participate in code reviews and contribute to team knowledge
                            sharing.
                        </li>
                        <li>
                            Stay up-to-date with emerging technologies and industry trends
                            to ensure our tech stack remains cutting-edge.
                        </li>
                    </ul>
                </div>
                <div>
                    <h6 class="heading__title">What You Will Do</h6>
                    <ul class="content__list">
                        <li>
                            Develop and maintain web applications using a variety of
                            technologies such as HTML, CSS, JavaScript, Node.js, React, and
                            more.
                        </li>
                        <li>
                            Collaborate with designers to bring UI/UX designs to life.
                        </li>
                        <li>
                            Implement responsive web design principles to ensure
                            applications render well on all devices.
                        </li>
                        <li>Write clean, scalable, and well-documented code.</li>
                        <li>Debug and resolve technical issues as they arise.</li>
                        <li>Optimize applications for maximum speed and scalability.</li>
                        <li>
                            Participate in code reviews and contribute to team knowledge
                            sharing.
                        </li>
                        <li>
                            Stay up-to-date with emerging technologies and industry trends
                            to ensure our tech stack remains cutting-edge.
                        </li>
                    </ul>
                </div>

                <div>
                    <h6 class="heading__title">Our Expectations</h6>
                    <ul class="content__list">
                        <li>
                            Develop and maintain web applications using a variety of
                            technologies such as HTML, CSS, JavaScript, Node.js, React, and
                            more.
                        </li>
                        <li>
                            Collaborate with designers to bring UI/UX designs to life.
                        </li>
                        <li>
                            Implement responsive web design principles to ensure
                            applications render well on all devices.
                        </li>
                        <li>Write clean, scalable, and well-documented code.</li>
                        <li>Debug and resolve technical issues as they arise.</li>
                        <li>Optimize applications for maximum speed and scalability.</li>
                        <li>
                            Participate in code reviews and contribute to team knowledge
                            sharing.
                        </li>
                        <li>
                            Stay up-to-date with emerging technologies and industry trends
                            to ensure our tech stack remains cutting-edge.
                        </li>
                    </ul>
                </div>
                <div>
                    <h6 class="heading__title">
                        Whom You Will Work With (Meet Our Team)
                    </h6>
                    <ul class="content__list">
                        <li>
                            Develop and maintain web applications using a variety of
                            technologies such as HTML, CSS, JavaScript, Node.js, React, and
                            more.
                        </li>
                        <li>
                            Collaborate with designers to bring UI/UX designs to life.
                        </li>
                        <li>
                            Implement responsive web design principles to ensure
                            applications render well on all devices.
                        </li>
                        <li>Write clean, scalable, and well-documented code.</li>
                        <li>Debug and resolve technical issues as they arise.</li>
                        <li>Optimize applications for maximum speed and scalability.</li>
                        <li>
                            Participate in code reviews and contribute to team knowledge
                            sharing.
                        </li>
                        <li>
                            Stay up-to-date with emerging technologies and industry trends
                            to ensure our tech stack remains cutting-edge.
                        </li>
                        <li>
                            Quality Assurance: Coordinate with QA engineers to ensure the
                            highest quality of software is delivered.
                        </li>
                    </ul>
                </div>
                <div class="intresting__slogan__container">
                    <h6 class="heading__title">Sounds Like an Interesting Job?</h6>
                    <p>
                        If this sounds like the perfect opportunity for you, we’d love to
                        meet you! Apply now and become a part of our innovative and
                        growing team. Send your resume and a cover letter explaining why
                        you’re a great fit for this role to [email address]. We are
                        excited to see what you can bring to our team!
                    </p>

                    <a href="/apply/{{ job.id }}" style="text-decoration: none; cursor: pointer" class="btn__primary__home applynow__btn">Apply now</a>
                </div>
                <div class="share__to__social__container">


                    <span class="social__media__icons__list">
                        <span style="font-weight: 500">share to</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="facebook">
                            <path fill="#3B5998"
                                d="M12 1.5C6.2 1.5 1.5 6.2 1.5 12S6.2 22.5 12 22.5 22.5 17.8 22.5 12 17.8 1.5 12 1.5zm2.97 6.63a.19.19 0 0 1-.19.19l-1.19.001c-.79 0-.93.31-.93.91v1.25h2.05c.054 0 .105.023.14.064s.052.094.045.147l-.29 2.26a.187.187 0 0 1-.186.163h-1.76v5.602a.188.188 0 0 1-.187.187h-2.31a.188.188 0 0 1-.187-.187v-5.602H8.95a.187.187 0 0 1-.187-.187v-2.26c0-.103.084-.187.187-.187h1.76V9.12c0-1.957 1.184-3.17 3.09-3.17.82 0 1.544.061 1.766.09a.188.188 0 0 1 .163.186v2.018z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" fill="#00ACED" height="24"
                            viewBox="0 0 24 24" id="twitter">
                            <path
                                d="M24 5.309a10.259 10.259 0 0 1-2.835.777 4.893 4.893 0 0 0 2.165-2.72 9.833 9.833 0 0 1-3.12 1.191 4.92 4.92 0 0 0-8.511 3.365c0 .39.033.765.114 1.122a13.926 13.926 0 0 1-10.142-5.147 4.928 4.928 0 0 0 1.512 6.576 4.86 4.86 0 0 1-2.23-.616v.054a4.943 4.943 0 0 0 3.942 4.835 4.911 4.911 0 0 1-1.29.162 4.35 4.35 0 0 1-.932-.084 4.967 4.967 0 0 0 4.598 3.427 9.885 9.885 0 0 1-6.101 2.099c-.404 0-.791-.018-1.178-.068a13.851 13.851 0 0 0 7.548 2.21c9.054 0 14.004-7.5 14.004-14.001 0-.218-.008-.428-.018-.636A10.316 10.316 0 0 0 24 5.309z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            id="pinterest">
                            <path fill="#CC2127"
                                d="M12 0C5.373 0 0 5.372 0 12c0 4.913 2.955 9.135 7.184 10.991-.034-.837-.006-1.845.208-2.756.23-.974 1.543-6.538 1.543-6.538s-.382-.767-.382-1.9c0-1.778 1.032-3.106 2.315-3.106 1.09 0 1.618.82 1.618 1.802 0 1.096-.7 2.738-1.06 4.258-.3 1.274.638 2.311 1.894 2.311 2.274 0 3.805-2.92 3.805-6.38 0-2.63-1.772-4.598-4.993-4.598-3.64 0-5.908 2.714-5.908 5.745 0 1.047.308 1.784.79 2.354.224.264.253.368.172.67-.056.219-.189.753-.244.963-.08.303-.326.413-.6.3-1.678-.684-2.458-2.52-2.458-4.585 0-3.408 2.875-7.497 8.576-7.497 4.582 0 7.598 3.318 7.598 6.875 0 4.708-2.617 8.225-6.476 8.225-1.294 0-2.513-.7-2.931-1.495 0 0-.697 2.765-.844 3.298-.254.925-.752 1.85-1.208 2.57 1.08.319 2.22.493 3.4.493C18.627 24 24 18.627 24 12 24 5.372 18.627 0 12 0" />
                        </svg>
                    </span>

                    <div class="copy__link__btn">
                        <input placeholder="https://isn.com/career/full-stack-developer" class="copy__input" />
                        <button class="copy__btn">Copy</button>
                    </div>


                </div>
                <aside class="opportunities__right Similar__Opportunities__container">
                    <div  class="content__title">Similar <span>Opportunities</span></div>
                    <div class="opportunities__card">
                        <h4>Full-Stack Developers </h4>
                        <div class="type__opportunities__container">
                            <span class="type__opportunities">Tartu </span>
                            <span>Full-time</span>
                        </div>
                        <p>Due to growing workload, we are looking for experienced and talented Full-Stack Developers to
                            join our fast-paced Engineering team. You will work closely with Product, Design and
                            Marketing to analyze, develop, debug, test, roll-out and support new and existing product
                            features.</p>
                        <div class="see__positions__container">

                            <button class="see__position__btn ">See positions <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="16" height="16"
                                    stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="opportunities__card">
                        <h4>Full-Stack Developers </h4>
                        <div class="type__opportunities__container">
                            <span class="type__opportunities">Tartu </span>
                            <span>Full-time</span>
                        </div>
                        <p>Due to growing workload, we are looking for experienced and talented Full-Stack Developers to
                            join our fast-paced Engineering team. You will work closely with Product, Design and
                            Marketing to analyze, develop, debug, test, roll-out and support new and existing product
                            features.</p>
                        <div class="see__positions__container">

                            <button class="see__position__btn ">See positions <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="16" height="16"
                                    stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <section>


                        <div class="opportunities__card">
                            <h4>Full-Stack Developers </h4>
                            <div class="type__opportunities__container">
                                <span class="type__opportunities">Tartu </span>
                                <span>Full-time</span>
                            </div>
                            <p>Due to growing workload, we are looking for experienced and talented Full-Stack
                                Developers to
                                join our fast-paced Engineering team. You will work closely with Product, Design and
                                Marketing to analyze, develop, debug, test, roll-out and support new and existing
                                product
                                features.</p>
                            <div class="see__positions__container">

                                <button class="see__position__btn ">See positions <svg
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" width="16" height="16" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                    </svg>
                                </button>
                            </div>
                        </div>

                        <div>
                            <
                        </div>


                </aside>
            </div>
            <div class="job__content__right">
                <div class="header__fast__reply">
                    <h4>Fast Apply</h4>
                </div>

                <input placeholder="Your full name" class="input__form" />
                <input placeholder="Enter your email" class="input__form" />
                <input placeholder="Enter your phone number" class="input__form" />
                <input placeholder="Legal last name" class="input__form" />
                <div class="uploader__image uploder__right">
                    <div class="uploader__center">
                        <p>Upload your resume</p>
                        <button class="brows__btn">Brows</button>
                    </div>
                </div>

                <a href="/apply/{{ job.id }}" style="cursor: pointer; text-decoration: none" class="  btn__primary__home   applynow__btn__right">Apply Now</a>


            </div>
        </main>
    </section>
{% endblock %}