{% extends 'base.html' %}
{% load static %}
{% block title %}ISN Study {{ job.job_title }}{% endblock %}
{% block base %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/job-application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/job-detail.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/openjobs.css' %}" />
    <section class="section__container">
        <main class="job__content__container">
            <div class="job__content__left">
                <div class="content__title">{{ job.job_title }} </div>
                <div>
                    {{  job.job_description|safe }}
                </div>
                <div >
                    <a href="/apply/{{ job.id }}" style="text-decoration: none; cursor: pointer" class="btn__primary__home applynow__btn">Apply now</a>
                </div>
                <div class="share__to__social__container">


                    <span class="social__media__icons__list">
                        <span style="font-weight: 500">share to</span>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="facebook">
                            <path fill="#3B5998"
                                d="M12 1.5C6.2 1.5 1.5 6.2 1.5 12S6.2 22.5 12 22.5 22.5 17.8 22.5 12 17.8 1.5 12 1.5zm2.97 6.63a.19.19 0 0 1-.19.19l-1.19.001c-.79 0-.93.31-.93.91v1.25h2.05c.054 0 .105.023.14.064s.052.094.045.147l-.29 2.26a.187.187 0 0 1-.186.163h-1.76v5.602a.188.188 0 0 1-.187.187h-2.31a.188.188 0 0 1-.187-.187v-5.602H8.95a.187.187 0 0 1-.187-.187v-2.26c0-.103.084-.187.187-.187h1.76V9.12c0-1.957 1.184-3.17 3.09-3.17.82 0 1.544.061 1.766.09a.188.188 0 0 1 .163.186v2.018z" />
                        </svg>
                        </a>
                    </span>

                    <div class="copy__link__btn">
                        <input id="job_link" value="{{ request.build_absolute_uri }}" class="copy__input" />
                        <button onclick=copyURL("job_link") class="copy__btn">Copy</button>
                    </div>


                </div>
                <aside class="opportunities__right Similar__Opportunities__container">
                    <div  class="content__title">Similar <span>Opportunities</span></div>
                    {% for rec in recommendation %}
                        <div class="opportunities__card">
                        <h4>{{ rec.job_title }} </h4>
                        <div class="type__opportunities__container">
                            <span class="type__opportunities">{{ rec.get_job_type_display }} </span>
                            <span>{{ rec.get_job_mode_display }}</span>
                        </div>
                        <p>{{ rec.job_summary }}</p>
                        <div class="see__positions__container">

                            <a href="/job/{{ rec.slug }}" style="text-decoration: none" class="see__position__btn ">See positions <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="16" height="16"
                                    stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </aside>
            </div>
            <form method="post" action="/apply/{{ job.id }}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="job__content__right">
                <div class="header__fast__reply">
                    <h4>Fast Apply ⚡️</h4>
                </div>

                <input name="first_name" placeholder="Your first name *" class="input__form" required/>
                <input name="last_name" placeholder="Your last name *" class="input__form" required/>
                <input name="email" placeholder="Enter your email *" class="input__form" required/>
                <input name="phone_number" placeholder="Enter your phone number *" class="input__form" required/>
                <div onclick="browseFile()"  class="uploader__image uploder__right">
                    <div  class="uploader__center">
                        <p>Upload your resume *</p>
                        <button class="brows__btn" type="button">Browse</button>
                        <input type="file" name="resume" id="fileInput" style="display: none;"  onchange="handleFileSelect(event)" required>
                    </div>
                </div>

                <button type="submit" style="cursor: pointer; text-decoration: none" class="  btn__primary__home   applynow__btn__right">Apply Now</button>


            </div>
            </form>
        </main>
    </section>
    <script>
    function browseFile() {
            document.getElementById('fileInput').click();
        }

        function handleFileSelect(event) {
            const file = event.target.files[0];
        }
        function copyURL(elementId) {
          // Get the text from the specified element
          var textToCopy = document.getElementById(elementId).innerText;

          // Create a temporary textarea element
          var tempTextArea = document.createElement("textarea");
          tempTextArea.value = textToCopy;
          document.body.appendChild(tempTextArea);

          // Select the text
          tempTextArea.select();
          tempTextArea.setSelectionRange(0, 99999); // For mobile devices

          // Copy the text
          document.execCommand("copy");

          // Remove the temporary textarea
          document.body.removeChild(tempTextArea);

          // Alert the user
          alert("Url copied");
        }

    </script>
{% endblock %}