{%  extends 'base.html' %}
{% block title %}ISN Study - {{ job.job_title }}{% endblock %}
{% block base %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/job-application.css' %}" />
    <script>
    function checkRequiredFields() {
            var submitButton = document.getElementById('first-next');
            var firstName = document.getElementById('first_name').value;
            var lastName = document.getElementById('last_name').value;
            var email_id = document.getElementById('email_id').value;
            var phoneNumber = document.getElementById('phone_number').value;
            var expected_salary = document.getElementById("expected_salary").value;
            var contact_phone_type = document.getElementById("contact_phone_type").value;
            var country = document.getElementById("country").value;
            var fileInput = document.getElementById('fileInput').value;
            var currency_type = document.getElementById('currency_type').value;
            var pay_period = document.getElementById('pay_period').value;
            // Enable/disable submit button based on form completeness
            if (firstName !== '' && lastName !=='' && email_id !=='' && phoneNumber !=='' && expected_salary !=='' && pay_period !==''
                && contact_phone_type !=='' && country !==''  && currency_type !=='' && fileInput !=='') {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
            var secoundNext = document.getElementById('second-next');
            var availability_or_notice_period = document.getElementById('availability_or_notice_period').value;
            var confirmation_name_1 = document.getElementById('confirmation_name_1').value;
            if (availability_or_notice_period !== '' && confirmation_name_1 !=='') {
                secoundNext.disabled = false;
            } else {
                secoundNext.disabled = true;
            }
             var submit = document.getElementById('submit');
            var gender = document.getElementById('gender').value
            var veteran_status = document.getElementById('veteran_status').value
            var race_ethnicity = document.getElementById('race_ethnicity').value
            var disability = document.getElementById('disability').value
            var policy_check = document.getElementById('policy-checkbox').value
            var confirmation_name_2 = document.getElementById('confirmation_name_2').value;
            if(gender !== '' && veteran_status !== '' && race_ethnicity !== '' && disability !== '' && policy_check !== '' && confirmation_name_2 !==''){
                if (validateEmail(email_id)){
                    document.getElementById('email_error').textContent = 'Email is required';
                }
                submit.disable = false
            }else {
                submit.disable= true
            }
        }
    </script>
    <section class="section__container">
        <main class="job__application__container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="content__title">Job <span>Application </span></div>
            <h6 class="job__title">{{ job.job_title }}</h6>
            <div class="job__form__container">
                <div id="step_count" class="steps margin"></div>
                <h4 class="content__title margin " id="apply__title">Personal Informations</h4>

            <form class="form" action="/apply/{{ job.id }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id = "step_1">
                    {% include 'apply_step_1.html' %}
                    <button type="button" id="first-next"  class="btn__primary__home next__btn" onclick="show_next_step()">Next</button>
                </div>
                <div id = "step_2">
                    <div class="user__information__grid direction-column">
                        {% include 'apply_step_2.html' %}

                        <div class="next__prev__btn__container">
                            <button type="button" onclick="show_previous_step()" id="" class="btn__primary__home next__btn previousbtn" >Previous</button>
                            <button type="button"  id="second-next" class="btn__primary__home next__btn" onclick="show_next_step()">Next</button>
                        </div>

                    </div>
                </div>
                <div id = "step_3">
                    {% include 'apply_step_3.html'  %}
                    <div class="next__prev__btn__container">
                        <button type="button" class="btn__primary__home next__btn previousbtn" onclick="show_previous_step()">Previous</button>
                        <button type="submit" id="submit" class="btn__primary__home next__btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        </main>
    </section>
    <script>
        var current_step = 1
        var step_count=document.getElementById("step_count")
        var title = document.getElementById("apply__title")
        step_count.innerHTML = "Step 1 of 3"
        let  hidden_id  = hide_steps_id("step_1")
        title.innerHTML = hidden_id[1]
        for (let element of hidden_id[0]) {
            document.getElementById(element).style.display = "none";
        }
        function show_next_step(){
            if (current_step <3){
                current_step = current_step + 1
                step_count.innerHTML = "Step " +current_step+" of 3"
                var step_id = "step_"+current_step.toString()
                let  hidden_id  = hide_steps_id(step_id)
                title.innerHTML = hidden_id[1]
                document.getElementById(step_id).style.display = "block"
                for (let element of hidden_id[0]) {
                    document.getElementById(element).style.display = "none";
                }
            }
        }

        function show_previous_step(){
            if (current_step >1){
                current_step = current_step - 1
                step_count.innerHTML = "Step " +current_step+" of 3"
                var step_id = "step_"+current_step.toString()
                let  hidden_id  = hide_steps_id(step_id)
                title.innerHTML = hidden_id[1]
                document.getElementById(step_id).style.display = "block"
                for (let element of hidden_id[0]) {
                    document.getElementById(element).style.display = "none";
                }
            }
        }
        function hide_steps_id(show){
            if (show == "step_1"){
                return [["step_3","step_2"],"Personal Informations"]
            }else if(show == "step_2"){
                return [["step_3","step_1"],"Legal Acknowledgment"]
            }else{
                return [["step_1","step_2"],"Equal Employee Opportunities Disclosure"]
            }
        }
        document.addEventListener('DOMContentLoaded', checkRequiredFields);
        document.addEventListener('input', checkRequiredFields);
        function browseFile() {
            document.getElementById('fileInput').click();
        }

        function handleFileSelect(event) {
            const file = event.target.files[0];
            document.getElementById('file-name').innerText=file.name
            {#file.name#}

        }
        function validateEmail(email) {
            const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return re.test(String(email).toLowerCase());
        }

    </script>
{% endblock %}
