{%  extends 'base.html' %}
{% block title %}ISN Study - {{ job.job_title }}{% endblock %}
{% block base %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/job-application.css' %}" />
    <section class="section__container">
        <main class="job__application__container">
            <div class="content__title">Job <span>Application </span></div>
            <h6 class="job__title">{{ job.job_title }}</h6>
            <div class="job__form__container">
                <div id="step_count" class="steps margin"></div>
                <h4 class="content__title margin " id="apply__title">Personal Informations</h4>
                <form class="form" action="/apply/{{ job.id }}" method="post" id="application_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id = "step_1">
                        {% include 'apply_step_1.html' %}
                        <button type="button" id="first-next"  class="btn__primary__home next__btn" onclick="show_next_step()">Next</button>
                    </div>
                    <div id = "step_2">
                        <div class="user__information__grid direction-column">
                            {% include 'apply_step_2.html' %}

                            <div class="next__prev__btn__container">
                                <button type="button" onclick="show_previous_step()" id="" class="btn__primary__home next__btn previousbtn" >Previous</button>
                                <button type="button"  id="second-next" class="btn__primary__home next__btn" onclick="show_next_step()">Next</button>
                            </div>

                        </div>
                    </div>
                    <div id = "step_3">
                        {% include 'apply_step_3.html'  %}
                        <div class="next__prev__btn__container">
                            <button type="button" class="btn__primary__home next__btn previousbtn" onclick="show_previous_step()">Previous</button>
                            <button type="button" id="submit-btn" class="btn__primary__home next__btn" onclick="submit_application()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </section>
    <script>
        function isValidURL(url) {
            try {
                new URL(url);
                return true;
            } catch (e) {
                return false;
            }
        }
        function ValidationSecoundStep(){
            var isValid=true
            var availability_or_notice_period = document.getElementById('availability_or_notice_period').value;
            var confirmation_name_1 = document.getElementById('confirmation_name_1').value;
            var check = document.getElementById('policy-checkbox').checked;
            if(availability_or_notice_period == ''){
                document.getElementById('noticePeriodError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('noticePeriodError').style.display = "none"
            }
            if(confirmation_name_1 == ''){
                document.getElementById('legalFirstName1Error').style.display = "block"
                isValid=false
            }else{
                document.getElementById('legalFirstName1Error').style.display = "none"
            }
            if(!check){
                document.getElementById('policyCheckError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('policyCheckError').style.display = "none"
            }
            return isValid
        }
        function ValidationFirstStep(){
            var isValid=true
            var firstName = document.getElementById('first_name').value;
            var lastName = document.getElementById('last_name').value;
            var email_id = document.getElementById('email_id').value;
            var phoneNumber = document.getElementById('phone_number').value;
            var expected_salary = document.getElementById("expected_salary").value;
            var contact_phone_type = document.getElementById("contact_phone_type").value;
            var country = document.getElementById("country").value;
            var fileInput = document.getElementById('fileInput').value;
            var currency_type = document.getElementById('currency_type').value;
            var pay_period = document.getElementById('pay_period').value;
            var url = document.getElementById('profile_link').value;
            if(url !== ''){
                if(!isValidURL(url)){
                    document.getElementById('urlError').style.display = "block"
                    isValid=false
                }
            }else{
                document.getElementById('urlError').style.display = "none"
            }
            if(firstName == ''){
                document.getElementById('firstNameError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('firstNameError').style.display = "none"
            }
            if(lastName == ''){
                document.getElementById('lastNameError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('lastNameError').style.display = "none"
            }
            if(email_id== ''){
                document.getElementById('emailError').style.display = "block"
                isValid=false
            }else{
                if (validateEmail(email_id)){
                    document.getElementById('emailError').style.display = "none"
                }else{
                    document.getElementById('emailError').style.display = "block"
                    isValid=false
                }
            }
            if(phoneNumber== ''){
                document.getElementById('contactError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('contactError').style.display = "none"
            }
            if(contact_phone_type== ''){
                document.getElementById('contactTypeError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('contactTypeError').style.display = "none"
            }
            if(country== ''){
                document.getElementById('countryError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('countryError').style.display = "none"
            }
            if(expected_salary== ''){
                document.getElementById('salaryError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('salaryError').style.display = "none"
            }
            if(currency_type== ''){
                document.getElementById('currencyError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('currencyError').style.display = "none"
            }
            if(pay_period== ''){
                document.getElementById('periodError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('periodError').style.display = "none"
            }
            if(fileInput== ''){
                document.getElementById('fileError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('fileError').style.display = "none"
            }
            return isValid
        }
        var current_step = 1
        var step_count=document.getElementById("step_count")
        var title = document.getElementById("apply__title")
        step_count.innerHTML = "Step 1 of 3"
        let  hidden_id  = hide_steps_id("step_1")
        title.innerHTML = hidden_id[1]
        for (let element of hidden_id[0]) {
            document.getElementById(element).style.display = "none";
        }
        function show_next_step(){
            if (current_step == 1){
                if(!ValidationFirstStep()){
                    return
                }
            }else if(current_step == 2){
                if(!ValidationSecoundStep()){
                    return
                }
            }
            if (current_step <3){
                current_step = current_step + 1
                step_count.innerHTML = "Step " +current_step+" of 3"
                var step_id = "step_"+current_step.toString()
                let  hidden_id  = hide_steps_id(step_id)
                title.innerHTML = hidden_id[1]
                document.getElementById(step_id).style.display = "block"
                for (let element of hidden_id[0]) {
                    document.getElementById(element).style.display = "none";
                }
            }
        }

        function show_previous_step(){
            if (current_step >1){
                current_step = current_step - 1
                step_count.innerHTML = "Step " +current_step+" of 3"
                var step_id = "step_"+current_step.toString()
                let  hidden_id  = hide_steps_id(step_id)
                title.innerHTML = hidden_id[1]
                document.getElementById(step_id).style.display = "block"
                for (let element of hidden_id[0]) {
                    document.getElementById(element).style.display = "none";
                }
            }
        }
        function hide_steps_id(show){
            if (show == "step_1"){
                return [["step_3","step_2"],"Personal Informations"]
            }else if(show == "step_2"){
                return [["step_3","step_1"],"Legal Acknowledgment"]
            }else{
                return [["step_1","step_2"],"Equal Employee Opportunities Disclosure"]
            }
        }
        function browseFile() {
            document.getElementById('fileInput').click();
        }

        function handleFileSelect(event) {
            const file = event.target.files[0];
            document.getElementById('file-name').innerText=file.name
        }
        function validateEmail(email) {
            const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return re.test(String(email).toLowerCase());
        }
        function submit_application(){
            var isValid = true
            var gender = document.getElementById('gender').value
            var veteran_status = document.getElementById('veteran_status').value
            var race_ethnicity = document.getElementById('race_ethnicity').value
            var disability = document.getElementById('disability').value
            var policy_check = document.getElementById('policy-checkbox1').checked
            var confirmation_name_2 = document.getElementById('confirmation_name_2').value;
            if(gender == ''){
                document.getElementById('genderError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('genderError').style.display = "none"
            }
            if(veteran_status == ''){
                document.getElementById('veterenError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('veterenError').style.display = "none"
            }
            if(race_ethnicity == ''){
                document.getElementById('raceError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('raceError').style.display = "none"
            }
            if(disability == ''){
                document.getElementById('disabilityError').style.display = "block"
                isValid=false
            }else{
                document.getElementById('disabilityError').style.display = "none"
            }
            if(confirmation_name_2 == ''){
                document.getElementById('legalName2Error').style.display = "block"
                isValid=false
            }else{
                document.getElementById('legalName2Error').style.display = "none"
            }
            if(policy_check == ''){
                document.getElementById('policyCheck1Error').style.display = "block"
                isValid=false
            }else{
                document.getElementById('policyCheck1Error').style.display = "none"
            }
            if(isValid){
                var form = document.getElementById("application_form");
                form.submit();
            }
        }
    </script>
{% endblock %}
