{% extends 'base.html' %}
{% load static %}
{% block base %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/journey.css' %}" />
    <section class="section__container">
    <main class="journey__content__container">
      <article class="journey__landing__page">
        <aside class="journey__content__left">
          <div class="content__title line-height-title">Our Journey: <br /> From <span> Vision to <br /> Global
              Impact.</span></div>
          <p class="secondary_title description">Welcome to the story of ISN. Our journey is one of passion, dedication,
            and
            relentless pursuit of excellence in international education. Here, we share our origins, significant
            milestones, remarkable growth, and ambitious future goals.</p>
        </aside>
        <aside class="journey__content__right">
          <img src="{% static 'assets/images/frame-journy.svg' %}" />
          <!-- <img class="ellipse" src="/assets/images/Ellipse.svg"/> -->
        </aside>


      </article>

    </main>
  </section>

  <section class="section__mission">
    <section class="section__container">
      <!-- <div class="journey__banner"><img src="/assets/images/journey-people.png"/></div> -->
      <main class="journey__content__container">
        <article class="journey__landing__page  ">
          <aside class="journey__content__left">
            <div class="our__dream">
              <div style=" color: white;" class="content__title line-height-title ">Our Mission: DREAM
              </div>

              <div class="our__dream__list__container">

                <h6 style="color: white;" class="secondary_title">At ISN, our mission is to help students DREAM big and
                  achieve their goal of studying at some of the
                  world's best institutions.</h6>

                <ul class="our-dream-list">
                  <li>Dedication: We are dedicated to guiding students toward their educational dreams.
                  </li>
                  <li>Resources: Providing comprehensive information and resources to help students make
                    informed decisions.</li>
                  <li>Empowerment: Empowering students to make smart choices that will not only shape their
                    futures but also positively impact their families, communities, and the world.</li>
                  <li>Accountability: Ensuring transparency and adherence to ethical practices in all our
                    services.</li>
                  <li>Motivation: Motivating students to strive for excellence and realize their full
                    potential.</li>
                </ul>
              </div>
            </div>
            <div class="our__dream">
              <div class="content__title line-height-title ">Our Values: CARE
              </div>

              <div class="our__dream__list__container">

                <h6 style="color: white;">Our core values define who we are and guide everything we do at ISN. We
                  believe in CARE:</h6>

                <ul>
                  <li>Commitment: We are committed to putting students first, ensuring their needs and aspirations are
                    at the center of our work.</li>
                  <li>Accountability: We hold ourselves accountable to the highest ethical standards, ensuring fairness
                    and integrity in all our actions.</li>
                  <li>Respect: We treat all students, partners, and team members with respect and dignity, fostering a
                    supportive and inclusive environment.</li>
                  <li>Empathy: We empathize with the challenges faced by international students and strive to provide
                    compassionate and understanding support.</li>
                </ul>
              </div>
            </div>
          </aside>
          <aside class="our__dream__right">
            <img src="{% static 'assets/images/our__dream.svg' %}" />
            <!-- <img class="ellipse" src="/assets/images/Ellipse.svg"/> -->
          </aside>


        </article>

      </main>
    </section>
  </section>
  <section class="section__milestone">
    <main class="section__container">
      <div class="milestones__content__container">
        <div class="header__container">
          <div class="content__title ">Milest<span>ones</span></div>
          <p class="secondary_title ">At ISN, we celebrate diversity in all its forms, bringing together students from a
            wide array of demographic and geographical backgrounds. Our extensive data highlights the richness of our
            network and the opportunities it presents.</p>
        </div>

        <div class="progress__bar">
          <span class="counter__circle counter__active">1</span>
          <div class="progress__bar__line progress__bar__line__first"></div>
          <span class="counter__circle">2</span>
          <div class="progress__bar__line"></div>
          <span class="counter__circle">3</span>
          <div class="progress__bar__line"></div>
          <span class="counter__circle">4</span>
          <div class="progress__bar__line"></div>
          <span class="counter__circle">5</span>

        </div>
        <div class="milestones__list__container">
          <div class="milestone__card">
            <img src="{% static 'assets/images/Icon.svg' %}" />
            <h6>2016</h6>
            <p>Incorporated as a <span>company</span> in Nepal.</p>
          </div>
          <div class="milestone__card">
            <img src="{% static 'assets/images/Icon.svg' %}" />
            <h6>2022</h6>
            <p>Moved <span>HQ to Dallas, Texas.</span></p>
          </div>
          <div class="milestone__card">
            <img src="{% static 'assets/images/Icon.svg' %}" />
            <h6>2023</h6>
          <p>Helped <span>10000+ students </span>achieve their dreams.</p>
          </div>
          <div class="milestone__card">
            <img src="{% static 'assets/images/Icon.svg' %}" />
            <h6>2024</h6>
            <p>Launched <span>state-of-the-art portals</span> to assist students and recruitment partners.</p>
          </div>
          <div class="milestone__card">
            <img src="{% static 'assets/images/Icon.svg' %}" />
            <h6>2025</h6>
            <p>Started as a <span>Facebook group </span> to help international students around the world.</p>
          </div>
        </div>

        <div class="milestone__image__container">
          <img src="{% static 'assets/images/milestone.svg' %}"/>
        </div>
        <div>
          <div class="content__title">Gro<span>wth.</span></div>
          <p class="secondary_title">Over the years, ISN has grown from a startup into a global leader in international education services. Our commitment to innovation and quality has driven our expansion, allowing us to support a diverse range of students and institutions across the globe.</p>
        </div>
        <div class="future__goal__container">
          <h4 style="font-weight: 600;">Future Goals:</h4>
          <div class="future__goals__container">
            <div class="ourplatform___card border__futuregoal__card">
              <div class="medal__icon__container">
                <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
              </div>
              <div class="platform__description">
                <h4 style="font-weight: 600;">Expanding Our Reach</h4>
                <p>
                  Continue to grow our network, reaching more students and universities in new regions.
                </p>
              </div>
            </div>
            <div class="ourplatform___card border__futuregoal__card">
              <div class="medal__icon__container">
                <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
              </div>
              <div class="platform__description ">
                <h4 style="font-weight: 600;">Innovative Solutions</h4>
                <p>
                  Develop new tools and services that address the evolving needs of our users.
                </p>
              </div>
            </div>
            <div class="ourplatform___card border__futuregoal__card">
              <div class="medal__icon__container ">
                <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
              </div>
              <div class="platform__description ">
                <h4 style="font-weight: 600;">Sustainable Impact</h4>
                <p>
                  Continue to grow our network, reaching more students and universities in new regions.

                </p>
              </div>
            </div>
          </div>

        </div>
        <div>
          <hr class="horizontal__line" />
          <div class="partner__us__content">
            <p>
              Join us as we continue to pave the way for a more connected and accessible world of international education. Explore our journey and see how ISN is making a difference, one student and one institution at a time.
            </p>
          </div>
        </div>

      </div>

    </main>
  </section>
{% endblock %}