{% extends 'base.html' %}
{% block title %}ISN Study Market entry{% endblock %}
{% load static %}
{% block base %}
    <link rel="stylesheet" href="{% static 'assets/css/market-entry.css' %}" />
    <section class="homepage__container">
      <main class="section__container margin__container">
        <div class="market__entry__container" >
          <div class="hero__left left__padding">
            <div class="hero__container__slogan">

              <h1 style="text-align: left;" class="title">
                Explore Our <span>Global</span> Reach

              </h1>
              <p>
                We have the capability to provide in-country representation services worldwide, catering to both mature and emerging markets. Our extensive network ensures that your institution can effectively engage with prospective students across the globe. With dedicated teams on the ground, we offer personalized support and strategic insights to help you succeed internationally.
              </p>
              <h3 class="saying__dedicated">“Dedicated In-Country Representative and In-Depth Insights to Boost Your International Presence”</h3>
            </div>
            <div style="margin:1.5rem 0;" class="hero_btn_container">
              <a href="/contact/partnership">
                <button class="btn__primary__home readmore">Get Started</button>
              </a>
            </div>


          </div>
          <div class="container__right">
           <img src="{% static 'assets/images/market-centry-boy.svg' %}" loading="lazy"/>
          </div>
          <div id="how-it-works" style="visibility:hidden;"> </div>
        </div>
      </main>
    </section>
      <section class="customer-review-wrapper ">
        <div  class="customer-review ">
          <div class="customer-review1">
            <div class="heading-structure">
              <div class="testimonials">Testimonials</div>
              <div class="how-it-works-parent">
                <h1 class="how-it-works">How It Works...</h1>
                <div class="hear-directly-from">
                  Hear directly from our partners about their experiences and
                  the impact of working with ISN.
                </div>
              </div>
            </div>
            <div class="brand-goals">
              <div class="work__description__container">
                <div class="agreement-parent">
                  <h3 class="agreement">Goals.</h3>
                  <div class="our-users-are">
                    We Are Committed To Staying At The Forefront Of Technology, Continuously Exploring New Ways TO Enhance Our Platform.
                  </div>
                </div>
              </div>
              <div class="work__description__container">
                <div class="agreement-parent">
                  <h3 class="agreement">Agreement.</h3>
                  <div class="our-users-are">
                    Our Users Are At The Heart Of Everything We Do. We Strive To Understand Their Needs And Exceed Their Expectations Through Reliable And User-Friendly.
                  </div>
                </div>
                <img class="contact-btn-icon" loading="lazy" alt="" />
              </div>
              <div class="work__description__container">
                <div class="agreement-parent">
                  <h3 class="agreement">Strategize.</h3>
                  <div class="our-users-are">
                    Decisions Are Made Regarding The Marketing Approach, Participation In Events And Student Engagements, And The Allocation Of Budgets And Priorities.
                  </div>
                </div>
              </div>
              <div class="work__description__container">
                <div class="agreement-parent">
                  <h3 class="agreement">Hire.</h3>
                  <div class="our-users-are">
                    Qualified Candidates Are Shortlisted And Interviewed. The Final Selection Is Presented To Your Institution Before They Join.
                  </div>
                </div>
              </div>
              <div  class="work__description__container ">
                <div class="agreement-parent">
                  <h3 class="agreement">Train.</h3>
                  <div class="our-users-are">
                   Comprehensive Training Is Conducted To Acquaint The Representative With The Admission Process, Departmental Objectives, And The Institution's Mission.
                  </div>
                </div>
              </div>

              <div class="work__description__container">
                <div class="agreement-parent" style="border-right: none;">
                  <h3 class="agreement">Begin.</h3>
                  <div class="our-users-are" >
                    The Representative builds relationships with applicants, counselors, agency partners, institutions, and prospective students, executing the role according to defined strategies.
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </section>
      <section style="padding: 3rem 0 !important;" class="section__container destination__main__container">
        <div class="rectangle-parent">
          <div class="frame-child"></div>
          <div class="preference-container">
            <div class="preference-content">
              <div class="study-destination-preferences-wrapper">
                <div class="title destinations">
                  Study Destination Preferences of
                  <span >Nepalese Students</span>
                </div>
              </div>
              <div class="nepalese-students-prioritize">
                Nepalese students prioritize affordability and job prospects
                when choosing study destinations. They seek countries with
                better opportunities due to Nepal's competitive job market.
                Returning with an international degree and work experience
                enhances their careers. Key factors include immigration costs,
                work permit pathways, job opportunities, and stay-back policies.
              </div>
            </div>
          </div>
          <div class="world-container">
            <div class="world-content">
              <div class="world-instance">
                {% include 'vector-map.html' with country=map_country_list color="#15B097" %}
              </div>
              <div class="country-data">
                <div class="country-list">
                  <img
                    class="country-item-icon"
                    loading="lazy"
                    alt=""
                    src="{% static 'assets/images/frame-market-entry.svg' %}"
                  />
                </div>
                <div class="country-details">

                  <div class="country-card">
                    <div class="text-container-parent">
                      <div class="text-container1">
                        <div class="heading3">West Africa</div>
                        <div class="text-container-inner">
                          <div  class="afghanistan-parent select__parent">
                            <select id="west-africa" onchange=displaySelectedValue("west-africa","west-africa-country-std") class="afghanistan select__btn">
                            </select>
                            <img
                            class="inverted-triangle-icon1"
                            alt=""
                            src="{% static 'assets/images/inverted-triangle-1.svg' %}"
                          />

                          </div>
                        </div>
                      </div>
                      <div id="west-africa-country-std" class="div">1234</div>
                    </div>
                  </div>
                  <div class="country-card">
                    <div class="text-container-parent">
                      <div class="text-container1">
                        <div class="heading3">South and Central Asia</div>
                        <div class="text-container-inner">
                          <div class="afghanistan-parent select__parent">
                            <select id="central-asis-id" onchange=displaySelectedValue("central-asis-id","central-asis-value-id") class="afghanistan select__btn">
                            </select>
                            <img
                              class="inverted-triangle-icon1"
                              alt=""
                              src="{% static 'assets/images/inverted-triangle-1.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div id="central-asis-value-id" class="div">420+</div>
                    </div>
                  </div>
                  <div class="country-card">
                    <div class="text-container-group">
                      <div class="text-container2">
                        <div class="heading4">Southeast Asia</div>
                        <div class="text-container-inner">
                          <div class="afghanistan-parent select__parent">
                            <select id="south_asia_id" onchange=displaySelectedValue("south_asia_id","south_asia_value_id") class="afghanistan select__btn">
                            </select>
                            <img
                              class="inverted-triangle-icon1"
                              alt=""
                              src="{% static 'assets/images/inverted-triangle-1.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div id="south_asia_value_id" class="div1">42+</div>
                    </div>
                  </div>
                  <div class="country-card">
                    <div class="text-container-parent">
                      <div class="text-container1">
                        <div class="heading3">Mexico and Central America</div>
                        <div class="text-container-inner">
                          <div class="afghanistan-parent select__parent">
                            <select id="mexico_id" onchange=displaySelectedValue("mexico_id","mexico_value_id") class="afghanistan select__btn">
                            </select>
                            <img
                              class="inverted-triangle-icon1"
                              alt=""
                              src="{% static 'assets/images/inverted-triangle-1.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div id="mexico_value_id" class="div">420+</div>
                    </div>
                  </div>
                  <div class="country-cards4">
                    <div class="text-container-parent1">
                      <div class="text-container4">
                        <div class="heading6">South America</div>
                        <div class="text-container-inner">
                          <div class="afghanistan-parent select__parent">
                            <select id="south_america_id" onchange=displaySelectedValue("south_america_id","south_america_value_id") class="afghanistan select__btn">
                              <option value="argentina" class="afghanistan1 option__country">Argentina</option>
                              <option value="brazil" class="afghanistan1 option__country">Brazil</option>
                            </select>
                            <img
                              class="inverted-triangle-icon1"
                              alt=""
                              src="{% static 'assets/images/inverted-triangle-1.svg' %}"
                            />
                          </div>
                        </div>
                      </div>
                      <div id="south_america_value_id" class="div3">2718+</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sub-container">
            <i class="description">
              <span class="source-httpswwwsitenamec">
                {{ datasource.source | safe}}
              </span>
            </i>
          </div>
        </div>
      </section>
      <section class="our__engagement__container">
        <main class="section__container">
          <div class="our__engagement__container">
            <div class="our__engagement__content">
              <div class="title__lg">
                Ready to Transform Your <br />
                <span>International Engagement? </span>
              </div>
              <p class="our__engagement__content__description">
                Join us at ISN Platforms and leverage our tools to make your international education journey smoother and more successful. Whether you're a student looking to study
                abroad or a university seeking global partnerships, we have the right solution for you.
              </p>

              {% include 'meet_us.html' %}
              <p class="our__engagement__content__description">Unlock the potential of international education with ISN.
                Connect, engage, and thrive globally.</p>
            </div>
        </main>
      </section>
    <script>
    const westAfrica = JSON.parse('{{ wast_africa|escapejs }}')
    const south_and_center_asia = JSON.parse('{{ south_and_center_asia|escapejs }}')
    const south_asia = JSON.parse('{{ south_asia|escapejs }}')
    const mexico = JSON.parse('{{ mexico|escapejs }}')
    const south_america = JSON.parse('{{ south_america|escapejs }}')
        // Function to initialize the select field with options

        function initializeSelect(options,select_ele_id,display_id) {
            const selectElement = document.getElementById(select_ele_id);
            selectElement.innerHTML = ''; // Clear existing options
            options.forEach((option,i) => {
                const opt = document.createElement('option');
                opt.value = option.fields.student_no;
                opt.textContent = option.fields.country;
                selectElement.appendChild(opt);
                if(i==0){
                    displaySelectedValue(select_ele_id,display_id)
                }
            });
        }
        // Function to display the selected value in the div
        function displaySelectedValue(select_ele_id,display_id) {

            const selectElement = document.getElementById(select_ele_id);
            const selectedValue = selectElement.value;
            document.getElementById(display_id).textContent = `${selectedValue}`;
        }

        // Initialize the select field with all options on page load
        window.onload = () => {
            initializeSelect(westAfrica,"west-africa","west-africa-country-std");
            initializeSelect(south_and_center_asia,"central-asis-id","central-asis-value-id");
            initializeSelect(south_asia,"south_asia_id","south_asia_value_id");
            initializeSelect(mexico,"mexico_id","mexico_value_id")
            initializeSelect(south_america,"south_america_id","south_america_value_id")
        };
    </script>
{% endblock %}