

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
{#<div class="meetus__conatiner">#}
{#    <div class="meetus__btn__container">#}
{#        <button id="openCalendly">Schedule a Meet </button>#}
{#        <button><a href="/contact/us">Contact Us</a></button>#}
{#    </div>#}
{#</div>#}
<div class="meetus__conatiner">
            <div class="meetus__btn__container">
              <a id="openCalendly" class="btn__primary schedule__meet__btn " style="text-decoration: none ; cursor: pointer" target="_blank" href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ2gMDcKpxEyj0Fqrt7ern9LJk1wNi8csYBUpdmcerwRsrS_8uSjeesCMVhm3GX9ZDau_7Bn2-fz">Schedule a Meet </a>
                <a href="/contact/us" style="text-decoration: none ; cursor: pointer"> <button class="secondary_atag_button">Contact Us</button></a>
            </div>
          </div>
{#<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>#}
{#    <script>#}
{#        document.getElementById('openCalendly').addEventListener('click', function() {#}
{#            Calendly.initPopupWidget({ url: 'https://calendly.com/karkipramish18/15min',#}
{#                text: 'Schedule time with ISN', color: '#ffffff', textColor: '#d24347', branding: undefined#}
{#            });#}
{#            return false;#}
{#        });#}
{#    </script>#}