{% load static %}

<header>
    <div class="section__container">
      <nav class="navbar">
        <div class="logo-container">
            <a href="/">
                <img src="{% static 'assets/images/isnlogo.svg' %}" alt="international study network logo" class="logo" />
            </a>
        </div>

        <ul class="navlink_container">
          <li><a class="{% if request.path == "/" %} active {% endif %}" href="/">Home</a></li>
          <li><a class="{% if request.path == "/platform" %} active {% endif %}" href="/platform">ISN Platforms</a></li>
          <li><a class="{% if request.path == "/market-entry" %}active {% endif %}" href="/market-entry">Market Entry</a></li>
          <li><a class="{% if request.path == "/insights" %}active {% endif %}" href="/insights">Insights</a></li>
            <li class="more__menu">
            <span id="more-toggle" style="display: inline-flex; align-items: center;"> More <svg class="arrow-down"
                width="24" height="24" viewBox="0 0 24 24">
                <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" />
              </svg>


            </span>
            <ul class="dropdown__style dropdown-menu-navbar ">
              <li><a href="/journey">Our Journey</a></li>
              <li class="human-resource-container">
                <a>Human Resource
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-6" width="16" height="16">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
                <ul class="sub-dropdown-menu dropdown__style">
                  <li><a href="/teams">Teams</a></li>
                  <li><a href="/teams">Benefits</a></li>
                  <li><a href="/jobs">Opportunities</a></li>
                </ul>


              </li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>





          </li>
          <button class="btn__right__nav login">University Login</button>
          <a href="/contact/partnership"><button class="btn__right__nav partnership">Start Partnership</button></a>
        </ul>
        <div onclick="toggleMenu()" class="navbar__menu__icon">
          <img src="{% static 'assets/images/menuicon.svg' %}" alt="Menu" class="menu-icon" id="menuIcon">
          <svg class="close-icon hidden" id="closeIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>

        </div>
      </nav>
    </div>
  </header>
<nav class="menu" id="mobileMenu">
    <ul>
        <li><a class="{% if request.path == "/" %} active {% endif %}" href="/">Home</a></li>
        <li><a class="{% if request.path == "/platform" %} active {% endif %}" href="/platform">ISN Platforms</a></li>
        <li><a class="{% if request.path == "/market-entry" %}active {% endif %}" href="/market-entry">Market Entry</a></li>
        <li><a class="{% if request.path == "/insights" %}active {% endif %}" href="/insights">Insights</a></li>
        <li><a href="/journey">Our Journey</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/teams">Benefits</a></li>
        <li><a href="/jobs">Opportunities</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
      <div class="nav__btn__container  nav__btn__container__mobile">
        <a href="#"><button class=" btn__right__nav login">University Login</button></a>
        <a href="/contact/partnership"><button class="btn__right__nav partnership">Start Partnership</button></a>
      </div>
    </ul>
  </nav>