{% extends 'base.html' %}
{% load static %}
{% block base %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/humanresource.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/openjobs.css' %}" />
    <section class="section__container">
        <main class="humanresource__content__container">
            <aside class="openjob__left">
                <div class="content__title">
                    Join Our Team: <br /> <span>Explore Career</span><br /><span>Opportunities at <br />ISN.

                </div>

                <p class="secondary_title" style="margin-bottom: 10px ">At ISN, we believe in fostering a collaborative and innovative work
                    environment where each team member can thrive. We are committed to supporting our employees'
                    professional development and personal growth. If you're passionate about making a difference in the
                    international education landscape, we'd love to hear from you. Explore our current job openings and
                    find the perfect fit for your career aspirations.</p>
                <a style="margin-top: 0.8rem; text-decoration: none; " href="#job_list"><button class="btn__primary__home">Join Our Team</button></a>
            </aside>
            <aside class="humanresource__right ">
                <img class="open__job__image" src="{% static 'assets/images/openjob.svg' %}" />
            </aside>
        </main>

    </section>


    <section id="job_list" class="section__container">
        <section class="opportunities__container ">
            <div class="mbl__container">
                <div class="content__title openjob__title">

                    Benefits of<span> Working at ISN.</span>
                </div>
                <p class="secondary_title openjob__title">Ready to join our team? Explore our current job openings and
                    find the right fit for your skills and career aspirations. We regularly update this section with new
                    opportunities across various departments.</p>
            </div>


            <div class="opportunities__list__container">
                <aside class="opportunities__left">
{#                    <div class="title__container">#}
{#                        <span class="horizontal__line__left" cla> </span>#}
{#                        <h4 class="title__positions">All positions (<span id="job-count">0</span>)</h4>#}
{#                    </div>#}

                    <ul class="positions__options">

                    </ul>
<!--                    <p class="secondary_title">We are always seeking talented people. In case you cannot find your-->
<!--                        desired position here, please send us your LinkedIn profile and give us your contact-->
<!--                        information. We will be in touch. </p>-->
<!--                    <button class="share__linkedn__btn">Share your Linkedn profile</button>-->
                </aside>
                <aside id="opportunities__right">


                    <div class="see__more__for__mobile">

                        <button class="see__more__btn">See more</button>
                    </div>
                </aside>

            </div>
            <div>
                <hr class="horizontal__line" />
                <div class="partner__us__content">
                    <p style="color: #2C3E56;" class="secondary_title">
                        Join ISN and be part of a team that values innovation, collaboration, and growth. Check out our
                        current openings and start your journey with us today!.
                    </p>
                </div>
            </div>
        </section>

    </section>
    <section  class="section__container">
        <div class="join__us__container">
            <div  class="img__container__opp">
                <div class="left">
                    <span class=" follow-font"><span style="color:#d24347; font-weight: 700;">Follow</span> us on <br />
                        social to see <br />
                        what we're up <br /> to!</span>
                    <img src="{% static 'assets/images/students-opp.svg' %}" />

                </div>
                <div class="sdd">
                    <img src="{% static 'assets/images/1.svg' %}" />
                    <img src="{% static 'assets/images/5.svg' %}" />
                </div>
                <img class="long" src="{% static 'assets/images/4.svg' %}" />
                <div class="below__content">
                    <img class="last" src="{% static 'assets/images/6.svg' %}" />
                    <div class="below__content__social">
                        <a class="social__links" href="https://www.facebook.com/isnstudy">
                            <img src="{% static '/assets/images/fb-logo.svg' %}" />
                            <span>Facebook</span>
                        </a>
                        <a class="social__links" href="https://www.youtube.com/@internationalstudynetwork">
                            <img src="{% static 'assets/images/yt-logo.svg' %}" />
                            <span>Youtube</span>
                        </a>
                        <a class="social__links" href="#">
                            <img src="{% static 'assets/images/x-logo.svg' %}" />
                            <span>Twitter</span>
                        </a>
                        <a class="social__links" href="https://www.instagram.com/isnstudy">
                            <img src="{% static 'assets/images/insta-logo.svg' %}" />
                            <span>Instagram</span>
                        </a>
                        <a class="social__links" href="https://www.linkedin.com/company/isnstudy/">
                            <img src="{% static 'assets/images/link-logo.svg' %}" />
                            <span>Linkedn</span>
                        </a>

                    </div>

                </div>

            </div>


            <div class="img__container__mbl">

                <img src="{% static 'assets/images/group-students.svg' %}" />
      <div class="social__medias">
        We are eager to be in touch with you in the following channels:

                <ul class="social__media__list">
                    <li>
                        <span class="wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="facebook">
                                <path fill="#fff"
                                    d="M12 1.5C6.2 1.5 1.5 6.2 1.5 12S6.2 22.5 12 22.5 22.5 17.8 22.5 12 17.8 1.5 12 1.5zm2.97 6.63a.19.19 0 0 1-.19.19l-1.19.001c-.79 0-.93.31-.93.91v1.25h2.05c.054 0 .105.023.14.064s.052.094.045.147l-.29 2.26a.187.187 0 0 1-.186.163h-1.76v5.602a.188.188 0 0 1-.187.187h-2.31a.188.188 0 0 1-.187-.187v-5.602H8.95a.187.187 0 0 1-.187-.187v-2.26c0-.103.084-.187.187-.187h1.76V9.12c0-1.957 1.184-3.17 3.09-3.17.82 0 1.544.061 1.766.09a.188.188 0 0 1 .163.186v2.018z" />
                            </svg>
                        </span>
                        <p>Facebook</p>
                    </li>
                    <li>
                        <span class="wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24"
                                viewBox="0 0 24 24" id="twitter">
                                <path
                                    d="M24 5.309a10.259 10.259 0 0 1-2.835.777 4.893 4.893 0 0 0 2.165-2.72 9.833 9.833 0 0 1-3.12 1.191 4.92 4.92 0 0 0-8.511 3.365c0 .39.033.765.114 1.122a13.926 13.926 0 0 1-10.142-5.147 4.928 4.928 0 0 0 1.512 6.576 4.86 4.86 0 0 1-2.23-.616v.054a4.943 4.943 0 0 0 3.942 4.835 4.911 4.911 0 0 1-1.29.162 4.35 4.35 0 0 1-.932-.084 4.967 4.967 0 0 0 4.598 3.427 9.885 9.885 0 0 1-6.101 2.099c-.404 0-.791-.018-1.178-.068a13.851 13.851 0 0 0 7.548 2.21c9.054 0 14.004-7.5 14.004-14.001 0-.218-.008-.428-.018-.636A10.316 10.316 0 0 0 24 5.309z" />
                            </svg>
                        </span>

                        <p>Twitter</p>

                    </li>
                    <li>
                        <span class="wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" id="linkedin"
                                height="24" width="24">
                                <path
                                    d="M20.47,2H3.53A1.45,1.45,0,0,0,2.06,3.43V20.57A1.45,1.45,0,0,0,3.53,22H20.47a1.45,1.45,0,0,0,1.47-1.43V3.43A1.45,1.45,0,0,0,20.47,2ZM8.09,18.74h-3v-9h3ZM6.59,8.48h0a1.56,1.56,0,1,1,0-3.12,1.57,1.57,0,1,1,0,3.12ZM18.91,18.74h-3V13.91c0-1.21-.43-2-1.52-2A1.65,1.65,0,0,0,12.85,13a2,2,0,0,0-.1.73v5h-3s0-8.18,0-9h3V11A3,3,0,0,1,15.46,9.5c2,0,3.45,1.29,3.45,4.06Z">
                                </path>
                            </svg>
                        </span>
                        <p>Linkedin</p>
                    </li>

                    <li>
                        <span class="wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24"
                                viewBox="0 0 24 24" id="pinterest">
                                <path
                                    d="M12 0C5.373 0 0 5.372 0 12c0 4.913 2.955 9.135 7.184 10.991-.034-.837-.006-1.845.208-2.756.23-.974 1.543-6.538 1.543-6.538s-.382-.767-.382-1.9c0-1.778 1.032-3.106 2.315-3.106 1.09 0 1.618.82 1.618 1.802 0 1.096-.7 2.738-1.06 4.258-.3 1.274.638 2.311 1.894 2.311 2.274 0 3.805-2.92 3.805-6.38 0-2.63-1.772-4.598-4.993-4.598-3.64 0-5.908 2.714-5.908 5.745 0 1.047.308 1.784.79 2.354.224.264.253.368.172.67-.056.219-.189.753-.244.963-.08.303-.326.413-.6.3-1.678-.684-2.458-2.52-2.458-4.585 0-3.408 2.875-7.497 8.576-7.497 4.582 0 7.598 3.318 7.598 6.875 0 4.708-2.617 8.225-6.476 8.225-1.294 0-2.513-.7-2.931-1.495 0 0-.697 2.765-.844 3.298-.254.925-.752 1.85-1.208 2.57 1.08.319 2.22.493 3.4.493C18.627 24 24 18.627 24 12 24 5.372 18.627 0 12 0" />
                            </svg>
                        </span>

                        <p>Pinterest</p>
                    </li>

                    <li>
                        <span class="wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24"
                                viewBox="0 0 24 24" id="youtube-logo">
                                <rect width="24" height="24" fill="none"></rect>
                                <path
                                    d="M21.96849 6.54351a2.24659 2.24659 0 0 0-1.35983-1.53246C17.39589 3.77646 12.27933 3.78651 12 3.78822c-.27919-.00224-5.39579-.01181-8.60863 1.22283a2.247 2.247 0 0 0-1.35983 1.53152C1.78781 7.47441 1.5 9.17679 1.5 12c0 2.82317.28781 4.52554.54154 5.45649a2.24659 2.24659 0 0 0 1.35983 1.53246c3.07558 1.18189 7.89578 1.22301 8.54691 1.22301.05818.00005.06532.00005.12351 0 .65159-.00005 5.47147-.04118 8.54686-1.22301a2.247 2.247 0 0 0 1.35983-1.53149C22.21219 16.52612 22.5 14.82374 22.5 12c0-.00047-.00003-.00093-.00003-.0014C22.49959 9.17752 22.21208 7.4757 21.96849 6.54351zm-6.76048 5.76851-4.5 3A.37497.37497 0 0 1 10.125 15V9a.37498.37498 0 0 1 .58301-.3117l4.5 3a.37498.37498 0 0 1 0 .62402z">
                                </path>
                            </svg>
                        </span>

                        <p>Youtube</p>
                    </li>
                </ul>
            </div>
            </div>

        </div>


        <!-- <span class="img__container__opp">
            <img src="assets/images/group-students.svg" />
            <span>jskdk</span>
        </span> -->




    </section>
        <script>
        var opportunitiesData = JSON.parse('{{ opportunity|escapejs }}')
        filteredJobs = opportunitiesData.flatMap(dev => dev.jobs);
        var total_job=filteredJobs.length
function createOpportunityCard(job) {
    return `
        <div class="opportunities__card">
            <h4>${job.job_title}</h4>
            <div class="type__opportunities__container">
                <span class="type__opportunities">${job.job_type}</span>
                <span>${job.job_mode}</span>
            </div>
            <p class="opportunity-description">
                ${job.job_summary}
            </p>
            <div class="see__positions__container">
                <span></span>
                <a style="text-decoration: none" class="see__position__btn" href="/job/${job.slug}">See positions
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" width="16"
                        height="16" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
        </div>
    `;
}
function filterJobs(designation) {
    const container = document.getElementById('opportunities__right');
    let filteredJobs;

    if (designation === 'All') {
        filteredJobs = opportunitiesData.flatMap(dev => dev.jobs);
    } else {
        filteredJobs = opportunitiesData.find(dev => dev?.category === designation)?.jobs || [];
    }

    container.innerHTML = filteredJobs.map(createOpportunityCard).join('');


    document.querySelectorAll('.filter-link').forEach(link => {
        const isActive = link.dataset.filter === designation;
        link.classList.toggle('active', isActive);

        // Find corresponding .title__container element for active link
        if (isActive) {
            const titleContainers = document.querySelectorAll('.title__container');
            titleContainers.forEach(container => {
                const containerDesignation = container.getAttribute('data-designation');
                const spanExists = container.querySelector('.horizontal__line__left');

                if (containerDesignation === designation && !spanExists) {
                    const span = document.createElement('span');
                    span.className = 'horizontal__line__left';
                    container.insertBefore(span, container.firstChild);
                } else if (containerDesignation !== designation && spanExists) {
                    spanExists.remove();
                }
            });
        }
    });
}

// Initial call to filterJobs with 'All' to show all jobs initially
filterJobs('All');

// Event listeners for filter links
document.querySelectorAll('.filter-link').forEach(link => {
    link.addEventListener('click', function(event) {
        event.preventDefault();
        const designation = this.dataset.filter;
        filterJobs(designation);
    });
});

function createFilterOptions(data) {
    data.unshift({"category": "All","jobs":[]})
    return data.map(data => `
        <div class="title__container" data-designation="${data.category}">
            <span class="horizontal__line__left"></span>
            <li><a href="#" class="filter-link ${data.category === 'All' ? 'active' : ''}" data-filter="${data.category}">${data.category=="All" ? `All Positions (${total_job})` :`${data.category}(${data.jobs.length})`}</a></li>
        </div>
    `).join('');
}

document.addEventListener('DOMContentLoaded', () => {
    const filterContainer = document.querySelector('.positions__options');
    filterContainer.innerHTML = createFilterOptions(opportunitiesData);

    filterJobs('All');

    // Add click event listeners to filter links
    document.querySelectorAll('.filter-link').forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            filterJobs(e.target.dataset.filter);
        });
    });
});
    </script>
{% endblock %}