{% extends 'base.html' %}
{% load static %}
{% block base %}
    <style>
    /* Main content styles */
    .partnership__container {
      display: flex;
      min-height: calc(100vh - 80px);
      /* Adjust if header height changes */
    }

    .partnership__left,
    .partnership__right {
      flex: 1;
    }

    .partnership__right{
      max-height:1010px;
    }

    .partnership__left {
      {#padding: 5rem;#}
      align-items:stretch;
    }


    .partnership__right img {
      max-height: 100%;
      border-top-left-radius: 366px;
        width: 100%;
      object-fit: cover;
    }

    .partnership__form {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      flex-grow: 1;

    }

    .grid-flex {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }


    /* Footer styles */
  </style>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/partnership.css' %}" />


    <main class="section__container grid-flex" >
    <aside class="partnership__left">
      <div style="text-align: center;" class="content__title ">
        Start
        <span>Your Partnership <br />
          With ISN</span>
      </div>
      <p style="text-align: center;" class="secondary_title partnership__title">Lorem ipsum dolor sit.</p>
      <form class="partnership__form flex-row-aligned" method="post" action="/contact/partnership">
              {% csrf_token %}
            <input
              class="partnership__input"
              placeholder="Name of Institution"
              name="institute_name"
              required
            />
            <input
              class="partnership__input"
              placeholder="Address"
              name="address"
              required
            />
            <div style="width: 100%" class="flex-row-aligned grid-flex">
              <input
                class="partnership__input"
                name="contact_person"
                placeholder="Contact Person"
                required
              />
              <input
                class="partnership__input"
                placeholder="Title"
                name="title"
                required
              />
            </div>
              <input
                      type="email"
                    name="email"
              class="partnership__input"
              placeholder="Email address"
                    required
            />
              <input
                class="partnership__input"
                placeholder="Phone number"
                name="phone_no"
                required
              />
            <div class="services-container flex-row-aligned">
              <p>Which services are you interested in?</p>

              <div class="check-option">
                <input
                  type="checkbox"
                  id="service1"
                  name="agent"
                  value="Hiring as Agent"
                  required
                />
                <label for="service1">Hiring as Agent</label>
              </div>

              <div class="check-option">
                <input
                  type="checkbox"
                  id="service2"
                  name="market"
                  value="Market Entry"
                  class="checbox"
                />
                <label for="service2">Market Entry</label>
              </div>

              <div class="check-option">
                <input
                  type="checkbox"
                  id="service3"
                  name="other"
                  value="Other Specify"
                  class="checbox"
                />
                <label for="service3">Other Specify</label>
              </div>

            </div>
            <textarea  name="message" placeholder="Questions/Comments" class="partnership__input hide-scrollbar text-area" required></textarea>
            <div  style="flex-direction:row; align-items: center !important;" class="services-container flex-row-aligned">
              <input type="checkbox" class="checbox" name="is_accept_privacy_policy"/>
              <span>I agree to the <a href="/privacy-policy">Terms and Privacy Policy</a>.</span>
            </div>

            <button  class="suscribe__button btn-submit" type="submit">Submit</button>
          </form>
    </aside>

    <section class="partnership__right">
      <img src="{% static 'assets/images/partnershipbg.png' %}" alt="Partnership background" />
    </section>
  </main>
{% endblock %}