{% extends 'base.html' %}
{% load static %}
{% block base %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/humanresource.css' %}" />
    <section class="section__container">
        <main class="humanresource__content__container">
            <aside class="left">
                <div class="content__title">
                    Do you believe in <br /> <span>Education For All?</span>

                </div>
                <h6 class="title__h6">Join Our Team and Make a Difference</h6>
                <p class="secondary_title">At ISN, we are on a mission to help international students achieve their
                    dreams of studying at some of the world's best institutions. Join us in creating a global impact by
                    supporting students, promoting ethical practices, and delivering top-notch services. If you are
                    passionate about education, technology, and making a difference, we invite you to explore career
                    opportunities with us.</p>
                <a href="/jobs#job_list">
                    <button style="margin-top: 0.8rem;" class="btn__primary__home">Join Our Team</button>
                </a>
            </aside>
            <aside class="humanresource__right">
                <img src="{% static 'assets/images/human-resource.svg' %}" />
            </aside>
        </main>

    </section>
    <section class="section__platform__wrapper">
        <main class="section__container">
            <div class="ourplatform__container">
                <div class="ourplatform___left">
                    <div class="content__title">
                        Why </br> <span>Work With US?</span>

                    </div>
                    <h6 class="title__h6">Our Values: CARE</h6>
                    <p class="secondary_title">
                        Our core values define who we are and guide everything we do at ISN. We believe in CARE
                    </p>

                </div>
                <div class="ourplatform___right">
                    <div class="ourplatform___card">
                        <div class="medal__icon__container">
                            <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
                        </div>
                        <div class="platform__description">
                            <h4>Commitment</h4>
                            <p>
                                We are committed to putting students first, ensuring their needs and aspirations are at
                                the center of our work.
                            </p>
                        </div>
                    </div>
                    <div class="ourplatform___card">
                        <div class="medal__icon__container">
                            <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
                        </div>
                        <div class="platform__description">
                            <h4>Accountability</h4>
                            <p>
                                We hold ourselves accountable to the highest ethical standards, ensuring fairness and
                                integrity in all our actions.
                            </p>
                        </div>
                    </div>
                    <div class="ourplatform___card">
                        <div class="medal__icon__container">
                            <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
                        </div>
                        <div class="platform__description">
                            <h4>Respect</h4>
                            <p>
                                We treat all students, partners, and team members with respect and dignity, fostering a
                                supportive and inclusive environment.
                            </p>
                        </div>
                    </div>
                    <div class="ourplatform___card">
                        <div class="medal__icon__container">
                            <img src="{% static 'assets/images/medal.svg' %}" alt="star__icon" />
                        </div>
                        <div class="platform__description">
                            <h4>Empathy</h4>
                            <p>
                                We treat all students, partners, and team members with respect and dignity, fostering a
                                supportive and inclusive environment.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>

    <section class="section__container" id="benefits">
        <main class="benefit__with__us">
            <div class="content__title">
                Benefits of<span> Working at ISN.</span>
            </div>
            <p class="secondary_title">We offer a comprehensive benefits package to ensure our <br /> employees are well
                taken care of:</p>
            <article class="benefit__list__container">
                <div class="benefit__list">
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/vacation.svg' %}" /><span style="font-size: 16px;">Paid Vacation:</span>


                    </div>
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/Plan.svg' %}" /><span style="font-size: 16px;">Holidays:</span>


                    </div>
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/Development.svg' %}" /><span style="font-size: 16px;">Retirement
                            Contribution:</span>


                    </div>
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/time.svg' %}" /><span style="font-size: 16px;">Health Insurance</span>


                    </div>
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/time.svg' %}" /><span style="font-size: 16px;">Bonus:</span>


                    </div>

                    <div class="benefit__card">
                        <img src="{% static 'assets/images/handinhand.svg' %}" /><span style="font-size: 16px;">Retreat</span>


                    </div>
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/handinhand.svg' %}" /><span style="font-size: 16px;">Health Fitness
                            Membership</span>


                    </div>
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/time.svg' %}" /><span style="font-size: 16px;">Tuition Assistantship
                            Program</span>


                    </div>
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/handinhand.svg' %}" /><span style="font-size: 16px;">Work
                            Flexibility:</span>


                    </div>
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/time.svg' %}" /><span style="font-size: 16px;">Career Growth:</span>


                    </div>
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/time.svg' %}" /><span style="font-size: 16px;">Global Exposure:</span>


                    </div>
                    <div class="benefit__card">
                        <img src="{% static 'assets/images/handinhand.svg' %}" /><span style="font-size: 16px;">Trainings:</span>


                    </div>
                </div>
            </article>
        </main>
        </main>
    </section>
    <section class="staff__section__container">
        <main class="section__container">
            <article class="staff__list__content">
                <div class="content__title title__staff" style="font-weight:100">MEET OUR <span style="color: white; font-weight:600">BEST TEAM</span></div>
                <p class=" title__staff">Our team comprises experts from various fields who bring their unique skills
                    and perspectives to ISN. Meet our members, learn about their backgrounds, and read their insights on
                    working with ISN. This section is regularly updated to reflect our dynamic team.</p>

                <div class="staff__list__grid">


                {% for team in teams %}
                    <div class="container">
                        <div class="image-wrapper">
                            <img src="{{ team.profile_image.url }}" />
                        </div>
                        <div class="name">
                            <span class="name__staff">{{ team.full_name }}</span>
                            <span >{{ team.designation }}</span>
                        </div>
                        <div class="rectangle"></div>
                    </div>
                {% endfor %}

                </div>
            </article>
        {% if page > 1 %}
            <div class="button__container">
                <button class="btn__primary__home btn__white">See More</button>
            </div>
        {% endif %}
        </main>
    </section>

{% endblock %}